[2022-05-28 11:45] hlinnaka commented on #559
This happened again: https://app.circleci.com/pipelines/github/neondatabase/neon/6807/workflows/f33d1c05-ceef-40d6-842f-ebc3237166a9/jobs/69445

[2022-05-28 15:59] joelonsql opened #1825 "Incorrect .pgpass instructions"
When resetting the password, it is suggested to run this command to add a line to .pgpass:

    echo 'cloud.zenith.tech:USERNAME:PASSWORD' > ~/.pgpass

Problems:

1. The command would overwrite the .pgpass file, which is probably not what most people want. Should probably change `>` to `>>` to append to the file instead.

2. The hostname "cloud.zenith.tech" doesn't exist. I think the hostname for

[2022-05-28 17:38] hlinnaka opened #1826 "`decryption failed or bad record mac` error connecting with psycopg3"
From @volfco:

This seems to be specific to the python psycopg3 package. I'm unable to replicate it using Intellij DB Connection, which makes me think there's some incompatibility between the client and what you guys are doing.

[2022-05-28 17:44] volfco commented on #1826
Bit more context. This happens in a celery worker, as the traceroute indicates.

[code]

Both these errors happen at the exact same time, but I'm unable to reproduce it when I'm not trying to send multiple queries concurrently.

[2022-05-28 17:53] volfco commented on #1826
This appears to be psycopg3 being weird, and nothing specific to Neon's implementation.

[2022-05-28 17:54] hlinnaka commented on #1826
I think this is the same issue as discussed here: https://stackoverflow.com/questions/53619971/ssl-error-bad-record-mac-managing-multiple-connections-with-postgresql-and-py. In a nutshell, you cannot share the same connection across different processes. I don't know how celery works, so I'm afraid I don't know what the proper way of doing that would be.

[2022-05-28 18:01] volfco commented on #1826
Yeah. It seems to be an issue with the driver and not you guys.

I sometimes forget about Python's weirdness after writing a lot of Rust.

[2022-05-28 18:06] volfco opened #1827 "Failed to connect to the compute node"
First connection to a idle database results in a flurry of `psycopg.OperationalError: connection failed: ERROR:  Failed to connect to the compute node` errors.

It looks like there is no delay or wait when the proxy connects to the compute node https://github.com/neondatabase/neon/blob/b3ec6e0661e1f08beb1cd08b265cc64af0cd4035/proxy/src/compute.rs#L49. A connection is attempted, and if it fails the

[2022-05-29 08:43] #1826 closed

[2022-05-29 15:59] hlinnaka commented on #1827
I was able to reproduce this with this self-contained test:
[code]
The trick is to try to open multiple connections to the same database, at the same time, when it is idle. The proxy does wait for the server to be started up, but apparently that mechanism gets confused if there are multiple simultaneous connections.

[2022-05-30 12:22] #1582 closed, assigned to stepashka, Daniel-ef

[2022-05-30 15:23] #1492 closed

[2022-05-30 15:56] #37 closed

[2022-05-30 15:56] #1010 closed

[2022-05-30 15:56] #1680 closed

[2022-05-30 15:56] #1644 closed

[2022-05-30 17:23] bojanserafimov commented on #1814
The safe rust libraries open file descriptors with `FD_CLOEXEC`, but the daemonize crate calls `open` directly, and doesn't pass that flag.

[This fix](https://github.com/knsd/daemonize/blob/master/daemonize/src/lib.rs#L401) is on `master` branch of `daemonize`, but not released yet. [No signs](https://github.com/knsd/daemonize/issues/46) of a release happening soon.

[2022-05-30 17:33] hlinnaka commented on #1814
Ah, cool! I guess we need to change Cargo.lock to use a known-good commit SHA instead of tagged version until then. I think we should also add a check to the wal-redo process, to check for any unexpected file descriptors, and close them or error out. Just in case something like this happens again.

[2022-05-30 18:18] bojanserafimov commented on #1751
Is there any evidence that CircleCI deletes files? AFAIK it keeps them as artifacts.

[2022-05-30 19:00] bojanserafimov commented on #1751
nevermind, I found that we explicitly add a "Delete all data but logs" step

[2022-05-30 21:21] bojanserafimov commented on #1751
I managed to reproduce this on CI with [this branch](https://github.com/neondatabase/neon/compare/bojan-ci-test?expand=1). Look at the `tmp/test_output/test_timeout[0]/repo/pageserver.log` artifact [here](https://app.circleci.com/pipelines/github/neondatabase/neon/6828/workflows/2ef32d80-81f3-4d00-a5b7-17345b43e851/jobs/69728/artifacts). This concludes that we sometimes delete files while pageserv

[2022-05-30 22:14] bojanserafimov commented on #1814
Another possible cause:
1. Stop command sends sigterm to pageserver
2. Pageserver starts killing threads
3. Tcp server thread dies, but other thread hangs
4. neon_local can't connect to tcp and thinks pageserver is dead

Yet another possible cause: sigterm handler panics somewhere, so the thread dies but other threads continue.

[2022-05-31 08:12] petuhovskiy commented on #1470
Should be fixed in #1823. Will reopen if test will fail again.

[2022-05-31 12:22] ryanrussell opened #1837 "chore(docs): Refactor Zenith references to Neon"
@kelvich

I was looking at what it would take to refactor the `Zenith` references to `Neon` ... looks like it needs to be broken into pieces.

[code]

Do you have any feedback on places to begin and places that are not ready to be changed yet?

For example, ~200 of those ~1,200 references are in the docs:
[code]

More Pattern Matching Context about what is where:
[code]

Examples:
This could be kn

[2022-05-31 12:41] avinassh commented on #1051
Hey, I thought I'd pick this up but I am not able to reproduce the issue. Here's what I did after following the compile instructions from the README:

[code]

and with relative path:

[code]

I did not pass `--init` and `-c` params, as I ran into some errors:

[code]

[2022-05-31 16:27] bojanserafimov commented on #559
happened again https://app.circleci.com/pipelines/github/neondatabase/neon/6851/workflows/7d3d9336-e0a5-4220-a70b-b2003daddeeb/jobs/70018/tests

[2022-05-31 16:54] bojanserafimov opened #1840 "Fix race in `neon_local pageserver stop`"
The command exits before the pageserver stops.

_Originally posted by @bojanserafimov in https://github.com/neondatabase/neon/issues/1814#issuecomment-1141511632_

[2022-05-31 18:12] bojanserafimov opened #1841 "Remove daemonize dependency"
The library is not maintained anymore https://github.com/knsd/daemonize/issues/46

And there are other reasons to do daemonization differently, I'll let @funbringer elaborate (feel free to edit).

_Originally posted by @funbringer in https://github.com/neondatabase/neon/pull/1834#issuecomment-1142398481_

[2022-05-31 18:14] #1814 closed

[2022-05-31 20:03] kelvich opened #1843 "Bug: cannot start in read-write mode from this base backup"
The issue caught on staging:

[code]

[2022-05-31 20:29] petuhovskiy commented on #1843
Duplicate of https://github.com/neondatabase/cloud/issues/1436 ?

[2022-05-31 21:37] kelvich commented on #1843
It is, thanks

[2022-05-31 21:37] #1843 closed

[2022-06-01 09:40] lubennikovaav commented on #1837
Hi, Ryan!

The rename is in progress.  Here is an issue about it:
https://github.com/neondatabase/neon/issues/1702
Feel free to join the discussion and review.

We can't rename everything in one take, because cloud components depend on the names of the binary files, config parameters, etc and we need to be careful with migrations.
Besides, the rename of actively changing code causes a lot of merge

[2022-06-01 11:55] SomeoneToIgnore opened #1844 "Remove `pageserver_connstr` from safekeeper's timeline and etcd data"
https://github.com/neondatabase/neon/pull/1619#discussion_r886711347

`pageserver_connstr` is used for two things in the safekeeper code:

* helped to id the pageservers
Not needed anymore, since every pageserver has its own `NodeId` + now safekepeer does not need to select pageservers for connection, so telling them apart is not needed in that piece of code either

* used as a flag to start/stop

[2022-06-01 11:56] SomeoneToIgnore commented on #1775
Note that now wal_receiver code has similar issues with timeline detach: https://github.com/neondatabase/neon/pull/1619#discussion_r881694400

Should not be a problem, but worth fixing.

[2022-06-01 13:07] #1396 closed

[2022-06-01 13:43] #1837 closed

[2022-06-01 15:28] yeputons opened #1847 "`neon_local init` creates a directory called `.zenith` instead of `.neon`"

[2022-06-01 18:30] phoenix24 commented on #1847
@yeputons I'm keen on picking this, just wondering - if i should address this as part of https://github.com/neondatabase/neon/issues/1702 ?

[2022-06-01 18:55] yeputons commented on #1847
@phoenix24 Ah, yes, let's move it there.

[2022-06-01 18:55] #1847 closed

[2022-06-01 21:27] aome510 opened #1852 "Timeout when starting multiple compute_nodes"
The following test (branch: https://github.com/neondatabase/neon/tree/test-multiple-compute-nodes) failed with error:

[code]

Safekeeper log:
[code]

Not sure about the underlying reason but it seems that the replication thread of the first node failed when we immediately create a second node. I don't think this bug is intentional.

**Code:**
<details>

[code]

</details>

[2022-06-01 21:58] phoenix24 commented on #1051
Just investigating this issue from `main`, I was not able to resolve it. Has it already been resolved?

here's what I did for absolute path to `data-dir` -
[code]

and, for the relative path to `data-dir` -
[code]

[2022-06-01 23:27] yeputons opened #1854 "Implement the authentication in safekeeper Postgres API"
Implement based on #1856, otherwise there is not much auth in Safekeeper.

Careful: do not merge until #1856 is correctly configured on staging/prod, this issue requires configuration updates. Even then, coordinate with SREs.

[2022-06-01 23:29] yeputons opened #1855 "Require authentication for safekeeper/pageserver metrics"
Currently `endpoint::make_router()` exposes `/metrics` without any checks. However, it may contain relatively sensitive information like tenant/timeline IDs. We should require a managemental token instead.

Careful: not to break Grafana.

Careful: implement after #1856 is merged, otherwise there is not much auth in Safekeeper.

Careful: do not merge until #1856 is correctly configured on staging/p

[2022-06-01 23:34] yeputons opened #1858 "Pageserver may be missing auth checks?"
For example, `pagestream `'s command handler [calls for `check_permissions`](https://github.com/neondatabase/neon/blob/de7eda2dc6a6dbad3c3ec96e71673c5a8a48bb79/pageserver/src/page_service.rs#L692), same as `basebackup`, but all others do not: e.g. `failpoints` (should require managemental token?), `show`, `do_gc`, `compact`, `checkpoint`, `get_lsn_by_timestamp`...

Note that we do not trust the co

[2022-06-02 00:26] yeputons opened #1859 "Unable to upload coverage report in a PR from a fork; missing `$VIP_VAP_ACCESS_TOKEN`?"
First seen in #1849, see logs [here](https://app.circleci.com/pipelines/github/neondatabase/neon/6896/workflows/905c1776-8c97-418c-9a37-7b420cab4e5f/jobs/70550). To compare, [here is a successful run](https://app.circleci.com/pipelines/github/neondatabase/neon/6891/workflows/66432833-0c48-416b-89db-8d878846e8ca/jobs/70471).

A good upload step starts like this:

[code]

A bad one starts like this:

[2022-06-02 00:37] yeputons commented on #1859
Answer to no. 2: the original PR is from another repository. CircleCI does not share secrets (including `VIP_VAP_ACCESS_TOKEN`) [with arbitrary PRs](https://circleci.com/docs/2.0/oss/#pass-secrets-to-builds-from-forked-pull-requests) for a good reason: otherwise a malicious actor could easily extract them by crafting a special script, altering `config.yml` and sending us a PR.

So, the immediate m

[2022-06-02 00:44] yeputons opened #1860 "Improve CI handling of missing secrets"
It's very easy to have a missing secret: just take any PR from a forked repository. It may then break in fabulous ways, e.g. #1859

I suggest that we add checks that secrets are provided and fail with easier-to-read messages instead. For example, the `coverage-report` job should check for `VIP_VAP_ACCESS_TOKEN` first and fail fast if it's not found. I suspect there are other similar places.

[2022-06-02 00:53] yeputons opened #1861 "The coverage data repository is over 1 GiB already"
The https://github.com/neondatabase/zenith-coverage-data repository is already 1.33 GiB, see upload logs [here](https://app.circleci.com/pipelines/github/neondatabase/neon/6889/workflows/2139d42c-8500-4605-8a82-bf3ca97bb201/jobs/70442). Shallowing it won't help as all data is in the same `main` branch.

While it's not _that_ much, we needlessly spend space and traffic on each CI run. I suspect som

[2022-06-02 00:56] yeputons opened #1862 "Investigate why `git-upload` may hang instead of failing if there is no auth data"
First discovered in #1859: a URL with no authentication token was provided to [the `git-upload` script](https://github.com/neondatabase/neon/blob/de7eda2dc6a6dbad3c3ec96e71673c5a8a48bb79/scripts/git-upload), and it went like this:

[code]

Note that the script has tried to `fetch`/`push` three times. The first two failed after some time, but the third lasted for over 10 minutes and got the job kil

[2022-06-02 01:05] yeputons opened #1863 "How do we accept contributions and run tests from forked repositories?"
We have quite a bunch of checks which use some secret tokens:

* `coverage-report` [uploads coverage reports to our repository](https://github.com/neondatabase/neon/blob/de7eda2dc6a6dbad3c3ec96e71673c5a8a48bb79/.circleci/config.yml#L406)
* `remote-ci-trigger` [triggers end-to-end tests with our cloud tests](https://github.com/neondatabase/neon/blob/de7eda2dc6a6dbad3c3ec96e71673c5a8a48bb79/.circlec

[2022-06-02 01:06] yeputons commented on #1859
Splitted this issue: #1860 (and also found #1861), #1863, and #1862.

[2022-06-02 01:06] #1859 closed

[2022-06-02 01:12] aome510 commented on #1852
Thanks for the insight. What you mentioned makes sense, it was just my misunderstanding of running multiple compute notes, e.g there should be one primary handling r/w and multiple secondaries handling r/o.

[2022-06-02 01:14] aome510 commented on #1852
Removed the `t/bug` label and will close this issue if no further investigation/discussion is need.

[2022-06-02 06:03] hlinnaka commented on #1859
I think we should stop uploading the coverage reports to a git repository. Publish them as an artifact in the CI, instead, just like e.g. log files. We're not trying to build a database of old coverage reports for historical analysis, we just want to see the coverage report for a particular commit or CI run. Historical analysis would be cool too, but not urgent, and if we wanted to do that we coul

[2022-06-02 08:52] LizardWizzard commented on #1854
Related #451

[2022-06-02 09:09] LizardWizzard commented on #1852
It is possible to create readonly nodes, but currently, readonly node does not move forward in time. See `test_readonly_node` test.

[2022-06-02 09:18] yeputons commented on #1861
By @hlinnaka from https://github.com/neondatabase/neon/issues/1859#issuecomment-1144470900:

[2022-06-02 09:22] yeputons commented on #1862
Note: this issue may become outdated once we migrate to GitHub, see #1414

[2022-06-02 09:22] yeputons commented on #1863
Note: this may get partially resolved with #1414

[2022-06-02 09:25] petuhovskiy commented on #1219
What should be done in this issue? Have we done this already in #1234? Probably it's better to close this issue and write down all per-tenant pageserver metrics that we want to have in the near future.

[2022-06-02 10:24] yeputons commented on #1861
Actually, this can easily prevent us from seeing reports:

https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages

[2022-06-02 11:37] yeputons commented on #1858
Discussed with @kelvich : yes, all these commands are only for tests and manual triggers, so there should be no consistency issues like "I use bot HTTP/PG connections and assume that they're perfectly are in sync". Let's move them to HTTP API.

[2022-06-02 13:16] LizardWizzard commented on #1861
I've truncated the repo so we can live some time with it until we switch to gh actions and its artifact storage

[2022-06-02 13:28] LizardWizzard commented on #1858
The only one that is not for tests is get_lsn_by_timestamp. Should be no problem to move it to HTTP API as well

[2022-06-02 14:24] kelvich opened #1867 "IDEA: unify rust neon_local and python test fixtures"
Since now `neon_local` is meant only for local development and not for distribution we can unify them. What about having a python class to handle compute and storage start/stop and rewrite `neon_local` in python?

[2022-06-02 14:25] kelvich commented on #1867
WDYT @hlinnaka ?

[2022-06-02 15:46] LizardWizzard commented on #1775
So there are two problems.
* Detach is not synchronized with compaction/gc. This reproduces every time when gc + detach are issued concurrently. Looking at compaction now.
* Detach does not wait for walreceiver shutdown. Is next on the list

[2022-06-02 16:35] yeputons opened #1868 "Spurious test_zenith_regress failure"
Here is a spurious `test_zenith_regress` failure: https://app.circleci.com/pipelines/github/neondatabase/neon/6925/workflows/6a0dcae5-a777-4504-96e3-c7ca92713eb2/jobs/70910/tests

`regression.diffs` is:

[code]

Corresponding logs are:
[pageserver.log](https://github.com/neondatabase/neon/files/8825776/pageserver.log)
[safekeeper.log](https://github.com/neondatabase/neon/files/8825781/safekeeper.l

[2022-06-02 16:40] hlinnaka commented on #1775
https://github.com/neondatabase/neon/pull/1794 changes things around compaction/gc. I don't think it fixes this issue directly, but maybe the fix can be implemented easier with that. Not sure..

[2022-06-02 16:47] hlinnaka commented on #1867
That's not a crazy idea either. pytest is a nice framework, but I think doing more with Rust would allow us to do more "white-box" testing.

[2022-06-02 17:05] yeputons opened #1869 "Spurious test_normal_work failure"
First observed here: https://app.circleci.com/pipelines/github/neondatabase/neon/6925/workflows/6a0dcae5-a777-4504-96e3-c7ca92713eb2/jobs/70904/tests

Logs:

[code]
[pg1.log](https://github.com/neondatabase/neon/files/8826007/pg1.log)
[pg2.log](https://github.com/neondatabase/neon/files/8826008/pg2.log)
[pg3.log](https://github.com/neondatabase/neon/files/8826009/pg3.log)
[safekeeper.log](https://

[2022-06-02 17:10] LizardWizzard commented on #1869
Can be somehow related to #1775

[2022-06-02 17:16] yeputons commented on #1869
It probably is. I suspect there is a race between the ephemeral file deletion and the `std::fs::remove_dir_all` call, so if the ephemeral file is deleted right when `remove_dir_all` tries to do the same, the former breaks.

However, if it's the other way around, we only emit a warning.

[2022-06-02 17:27] LizardWizzard opened #1870 "PageRequestsThread is not associated with tenant and timeline"
E g in detach it would be good to shutdown any timeline related threads, but PageRequestsThread is not associated with any.

See https://github.com/neondatabase/neon/blob/aba5e5f8b5c611de06836538d1058ce7a5a7e671/pageserver/src/page_service.rs#L252

This is a bit tricky because we need to do that after the thread is started so we need an API in `thread_mgr.rs` to be able to assign threads to a tena

[2022-06-02 19:44] LizardWizzard commented on #1867
AFAIK there were some reasons against using rust for integration tests, so back then they were rewritten in python, and that's the reason why we have this split between rust that remained in the local control plane and python tests. I like both ideas. If people are ok with recompiling test code I'm more towards using rust everywhere. (No more problems with
different python versions and virtualenvs

[2022-06-02 19:52] SomeoneToIgnore commented on #1815
I believe this is caused by the reason described in https://github.com/neondatabase/neon/pull/1865#issuecomment-1144784500 and will be fixed with that PR.

[2022-06-02 19:53] SomeoneToIgnore commented on #1868
Could be the same as https://github.com/neondatabase/neon/issues/1815#issuecomment-1145281135

[2022-06-02 20:41] phoenix24 commented on #1867
This would be super useful, and should be a separate issue.

[2022-06-03 00:33] bojanserafimov opened #1873 "Slow recompilation"
If i run `make` twice, I expect the second time to take no time. But actually it takes a while.

There's something about running `make postgres-headers` that causes `cargo build` to reinstall a lot of things. I suspect it has to do with bindgen but I don't see what's going on. `build.rs` says `cargo:rerun-if-changed=pg_control_ffi.h`, and I can see that `ls -l pg_control_ffi.h` doesn't change afte

[2022-06-03 07:30] stepashka opened #1874 "Welcome: team, mission what we have done since March"

[2022-06-03 07:30] stepashka opened #1875 "clean up zenith repo directory structure"

[2022-06-03 07:30] stepashka opened #1876 "create integration examples reporitory, cover with tests to ensure nothing breaks"

[2022-06-03 07:31] stepashka opened #1877 "Separation of storage and compute (why bother, pros/cons) and tech overview"

[2022-06-03 07:31] stepashka opened #1878 "Cluster quick (github link) connect -- how we iterated on that idea"

[2022-06-03 11:22] LizardWizzard commented on #1873
If there are no changes in compute I just run cargo build with needed binaries: only pageserver, safekeeper, and neon_local to avoid relinking of binaries for debugging tools. After first run it finishes instantly

[2022-06-03 14:30] #1844 closed, assigned to SomeoneToIgnore

[2022-06-03 15:40] SomeoneToIgnore opened #1882 "test_pg_regress flacks in release run"
https://app.circleci.com/pipelines/github/neondatabase/neon/6959/workflows/7c9dcede-423b-44af-8f0c-cf14d35dd850/jobs/71376

[code]

Does not fail in debug mode.
First seen in https://github.com/neondatabase/neon/pull/1872#issuecomment-1145381010

[2022-06-03 15:57] bojanserafimov commented on #1882
https://github.com/neondatabase/neon/issues/559

[2022-06-03 15:58] #1882 closed

[2022-06-03 16:00] SomeoneToIgnore commented on #559
Noticed it twice since https://github.com/neondatabase/neon/pull/1872#issuecomment-1145381010 today.

We've revamped the SK <-> PS wal streaming and made PS to connect to SK more eager than before with callmemaybe, might be very related.

[2022-06-03 19:32] cicdteam commented on #1867
When I wrote charts for proxy and console I had idea to write charts for all components and one uber chart that includes all them  as subcharts (so you all install whole stack by single command). It useful for tests and for community who wants to try  Neon locally. But what to do with console? It couldn't be public chart. But without console how to create/start/delete projects? I have no answer.

[2022-06-03 19:35] hlinnaka commented on #1867
We have got to make the web console public too, or at least extract all the needed parts and publish them. Need to discuss the exact mechanics of that..

[2022-06-03 20:27] cicdteam commented on #1867
My view - for hobby projects and local tests I prefer have/use some cli tool to manage computes instead of make console public.

[2022-06-03 22:14] yeputons opened #1884 "Test fixtures: make PageserverHttpClient/SafekeeperHttpClient creation automatically pick up auth token"
See https://github.com/neondatabase/neon/pull/1856#discussion_r889299407

[2022-06-03 22:28] bojanserafimov commented on #1873
Ah, so the full list of implicit dependencies is written in `./target/debug/build/postgres_ffi-b62037cd77db73ca/output`, and includes other files like `tmp_install/include/postgresql/server/access/multixact.h`. This particular file (and probably others too) gets updated on every `make postgres` run, which is the root cause of the problem. I'm guessing it gets touched because we `make install` to c

[2022-06-04 02:47] bojanserafimov commented on #1873
[This patch](https://github.com/neondatabase/postgres/commit/37c8c8d75211051d914c3877073905c0255fbabb) is sufficient to fix the problem (though it's a sloppy patch and it introduces problems). My recompile time is now only 16 sec, down from 70 sec, which makes it less frustrating to switch branches.

[2022-06-04 10:02] ololobus opened #1885 "WAL timeouts in pageserver on GetPage@LSN and basebackup"
There are several failed start_compute operations on staging: https://console.stage.neon.tech/admin/operations?sort=updated_at&order=desc&had_retries=some&action=start_compute

Some `start_compute` that failed on first attempt, but succeeded after the second retry.

Error was:
[code]

And the same problem with basebackup:
[code]

These projects are from e2e, so they didn't receive any significant

[2022-06-04 10:31] SomeoneToIgnore commented on #1885
Looks like coordination issue indeed, but those cancellations seem a bit suspicious: they come when from the safekeeper side and look odd.

I can look in more details later.

[2022-06-04 17:00] bojanserafimov commented on #1873
One cleaner solution is to revert [this](https://github.com/neondatabase/postgres/commit/a7032690f96efde6e05f166c21c583b02bf71bd2), and then on top of our makefile put:
[code]

Though for some reason `/usr/bin/install -C -m 644` always copies, but `/usr/bin/install/ -C -755` respects the `-C` flag. No clue [why](https://github.com/coreutils/coreutils/blob/master/src/install.c#L168). The `install-s

[2022-06-05 06:06] #1737 closed

[2022-06-05 10:18] LizardWizzard commented on #987
This issue is only about checksum validation during upload and download. RFC may be needed for applying page level checksums on other stages. E g during wal-redo.

The current state of remote checksums:

There is an old method for supplying checksums to s3 PutObject. It allows to pass content_md5 to PutObject invocation, but it has the following problem: to pass checksum to this request we need to

[2022-06-05 10:19] LizardWizzard opened #1887 "add a test with real s3 bucket, without any kind of mocking"

[2022-06-05 19:28] arssher commented on #1885
I looked at the logs of ce7dd8efaf3f87a4353e40dcdbb65247. Its failed start overlapped with etcd restarts which I did for disabling persistency:

https://observer.zenith.tech/explore?orgId=1&left=%5B%221654333200000%22,%221654333380000%22,%22Loki%22,%7B%22expr%22:%22%7B%20pod%3D~%5C%22etcd.*%5C%22,%20zenith_env%3D%5C%22staging%5C%22%7D%22,%22refId%22:%22A%22,%22range%22:true,%22maxLines%22:4000%7D%

[2022-06-06 12:47] #1745 closed

[2022-06-06 12:58] kelvich commented on #117
Resolved in https://github.com/neondatabase/neon/blob/main/docs/rfcs/015-storage-messaging.md / https://github.com/neondatabase/neon/commit/e5cb72757250457a61eeb4bdd7c613527ce7ec98

[2022-06-06 12:58] kelvich commented on #589
Resolved in https://github.com/neondatabase/neon/blob/main/docs/rfcs/015-storage-messaging.md / https://github.com/neondatabase/neon/commit/e5cb72757250457a61eeb4bdd7c613527ce7ec98

[2022-06-06 12:58] #589 closed

[2022-06-06 13:54] kelvich commented on #547
Related experiments: https://github.com/neondatabase/neon/compare/main...cargo-fuzz-experiment and https://github.com/neondatabase/neon/compare/main...kelvich/struct-fuzzing and https://github.com/neondatabase/neon/compare/main...fuzz-test-safekeeper

cc @arssher @petuhovskiy @yeputons

[2022-06-06 14:53] arssher commented on #547
2. Just backtrace would be already interesting.
3. Hmm, not sure. Overflow should panic before failing asserts...

[2022-06-06 15:17] bojanserafimov commented on #547
Backtrace for (2):
[code]

[2022-06-06 15:34] kelvich commented on #547
But generally, with this struct-based fuzzing we can set up several safekeeper instances in test and check Paxos invariants over the committed history.

Downside is that this test takes 3-4 minutes to compile :)

[2022-06-06 18:28] aome510 opened #1889 "Add tests for #1763"
## Context

Intensive write workload blocks PG instance because the speed of WAL generated is much higher than the amount of WALs that the page server can process.

We do have `max_replication_write_lag` to avoid having an infinite amount of WAL produced. However, when `max_replication_write_lag` is set to be high, performing a read will need to wait for all the WALs to be processed, even if **non

[2022-06-06 18:30] aome510 commented on #1889
Slack thread: https://neondb.slack.com/archives/C033RQ5SPDH/p1654535501868279

[2022-06-06 20:53] KlimentSerafimov commented on #842
Proposal:
Create a wrapper class SafeFile that inherits from File and re-implements read_to_end and read_from_string with the desired size check in place. @kelvich @yeputons any thoughts?

[2022-06-06 21:02] kelvich commented on #842
Hm, so `read_to_end(..., but_not_more_than_bytes)` isn't in the stdlib. We can just `fstat` file before reading it. But it is not clear what the limit should be. On a second thought IMO it would be clearer to just leave `read_to_end()` as it is now, accept the risk with big files and close this issue =)

[2022-06-06 21:04] LizardWizzard commented on #1775
I checked logs on staging and clearly see these messages coming from page request threads and wall receiver. #1890 makes it possible to join specific page service threads so existing code in detach handler will wait for them to finish. Next PR will handle proper wal_receiver joining.

[2022-06-06 21:05] KlimentSerafimov commented on #1805
Could you please provide me a little bit more guidance here?  Is it the fact that you can have a.a.a.... in the SNI?
Could you please tell me where is the entry point in the code that I need to be looking at? @hlinnaka @kelvich

[2022-06-06 21:17] cicdteam commented on #1805
it's related how CF (our DNS provider) do resolving. I created necessary records (I mean `*.cloud.neon.tech` for prod and `*.cloud.stage.neon.tech` for staging) pointing to AWS ALB, but seems CF recognize `*` as simple hostname and as anything as hostname:

[code]

and

[code]

So, solution is - get hostname in proxy (via SNI) and ensure it fit the mask like `[:alnum:].cloud.neon.tech`

[2022-06-06 21:21] KlimentSerafimov commented on #842
We can add logging and run bunch of experiments on real-world workloads to see what is the usual maximal file size.

[2022-06-06 21:29] kelvich commented on #1805
Right.

So far staging uses `*.cloud.stage.neon.tech`
prod is using `*.cloud.neon.tech`
localhost is using `*.localtest.me`.

And proxy doesn't know on what domain it is listening. I suggest adding this prefix as a CLI parameter so that the current check is used when this parameter isn't set (to have backward compatibility) and a stricter one is used if the param is set; deploy it and change deplo

[2022-06-06 21:37] KlimentSerafimov commented on #1805
I see.
Few questions:
For the first approach:
1. What CLI parameter name do you suggest using? Would 'domain' be fine?
2. So would a user specify like "...&domain='cloud.stage.neon.tech'..."?
3. Would the domain name become part of the project name (so like <project name>.<domain name>)?
4. How to change the deployments?

For the second approach:
5. how do I look up the common name in the provided

[2022-06-06 21:43] cicdteam commented on #1805
not sure how it could helps, as certificate CN is also wildcarded (`depth=0 CN = *.cloud.stage.neon.tech`).

[code]

[2022-06-06 21:51] cicdteam commented on #1805
btw, I suggest to use env variables everywhere (it simplifier deployment for different environments, as env variables could be propagated from k8s secrets/configmaps)

something like `PROXY_BASE_DOMAIN=cloud.stage.neon.tech`

then proxy retrieves FQDN (if it possible) from request and ensure it fits regexp like `[:alnum:]+\.${PROXY_BASE_DOMAIN}`

[2022-06-06 21:52] KlimentSerafimov commented on #1805
And how do I access this information from within the code?

[2022-06-06 21:52] kelvich commented on #1805
well, it tells you a domain that you you are listening on so that you can ensure that a proper cluster domain is `cluster-name-n-dots` + `common-name-without-star`.

I think this will work and https://docs.rs/x509-parser/latest/x509_parser/pem/struct.Pem.html will do the thing

[2022-06-07 06:28] kelvich opened #1893 "Epic: tenant migration between storage versions"
We've talked about using logical dump/restore to move tenants in case of the storage format change. But that requires compute to be enabled and currently we don't have too much manual control over it. Also, a logical dump is somewhat a crutch, and building some features to support it seems like the wrong idea.

With some brainstorming during on-call handovers we've come up with a plan that seems t

[2022-06-07 08:03] arssher commented on #1815
It is different.

[2022-06-07 10:18] LizardWizzard commented on #842
It is typically used for config files, certificates etc. So shouldn't be a big problem

[2022-06-07 13:42] bojanserafimov opened #1896 "Add snapshot test for storage format"
Run pageserver with small checkpoint distance, generate and store some tenant data inside the github repo (< 100KB zipped). Then write test that loads the data and answers some queries. The goal is to notice backwards-incompatible changes.

If there's a need for larger datasets we can think about external storage. But for now 100KB is not that much. `layered_repository.rs` is about 100KB, and so i

[2022-06-07 13:47] hlinnaka commented on #1896
See also issue #1607, cc @MMeent

[2022-06-07 14:31] kelvich commented on #1893
Right. We can make it if we want:

Option 1. Do back up at the oldest possible LSN; load WALs from S3; Pageserver 2 will load that WAL and regenerate history.

Option 2. Just do the backup and wait PITR time before deleting the old pageserver. With that setup we will know that the new pageserver has new data.

[2022-06-07 14:40] stepashka opened #1898 "Epic: fix the attach/detach and add python tests for branching"
attach and detach commands are implemented per timeline
this is flexible, because we can have different timelines served on different pageservers
OTOH to properly handle a branch on a pageserver, pageserver needs to be aware of the other timelines, e.g. for GC to not mess things up

shall we attach/detach the whole tenant on pageserver?

does this depend on the on-demand download from s3?

[2022-06-07 14:41] stepashka opened #1899 "Epic: expand branching tests"
- create test for branching with GC
  + [x] https://github.com/neondatabase/neon/pull/1484
  + [x] branch of branch of branch of (...) tests (https://github.com/neondatabase/neon/pull/1569)
- branch performance tests
  + [x] branch creation performance tests: https://github.com/neondatabase/neon/pull/2101
  + [x] https://github.com/neondatabase/neon/issues/1901

[2022-06-07 14:43] stepashka opened #1900 "Epic: expand tests that use branching"

[2022-06-07 14:43] stepashka opened #1901 "performance tests for branching"

[2022-06-07 14:48] arssher commented on #1815
This should be cured now, feel free to reopen if it happens again.

[2022-06-07 14:49] arssher commented on #1403
s3 offloading is enabled on staging, WAL removal happens after it.

[2022-06-07 14:50] stepashka opened #1902 "Epic: implement disk size limits per tenant"
DRAFT

we're already limiting disk size limit per timeline ('branch')
as part of this task we also need to define a global limit on overall tenant (project) size
disk size usage per project (tenant) = sum of disk size usages of all branches inside the project (timelines)

[2022-06-07 15:18] lubennikovaav commented on #1893
It won't if we take a backup at some moment in the past and the WAL is already offloaded.

@LizardWizzard , is it difficult to implement loading WAL from S3?
We can even download it directly to pageserver, until it catches up with what safekeepers have.

[2022-06-07 16:04] stepashka opened #1904 "restrict the tenant to only have one root"

[2022-06-07 16:05] lubennikovaav commented on #1893
TODO: clarify API for tenant import

[2022-06-07 16:16] LizardWizzard commented on #1893
It shouldnt be too hard to create a binary that downloads all the wal from s3. We have needed abstractions in libs/remote_storage. Let me know if you have any questions

[2022-06-07 16:29] petuhovskiy commented on #1893
IIRC, we still haven't enabled S3 offloading on **production** safekeeepers, so all WAL is stored on the safekeepers disks. That means that we can query something like `START REPLICATION 0/1696B50` on any safekeeper and it will stream WAL from the beginning of the timeline.

And also it's very easy to implement S3 WAL dynamic downloading on safekeepers, so that `START REPLICATION` will always work

[2022-06-07 17:08] kelvich opened #1905 "Epic: frontend headless browser testing"
Now we are closer to a more stable UI and it is a good time to start browser-based tests of our UI.

- Check GitHub/Google auth flows with some pre-created accounts in a few setups:
  - Clean integration on the OAuth provider side; sing_in as a new user
  - Try to log in using the old cookie. We can stash the cookie in test secrets, the cookie can give access to user_id=1 so that we can use the cl

[2022-06-07 19:33] kelvich commented on #1893
With this thing, we can move tenants on staging out of the outdated pageserver. I think it is okay to lose history for this operation. We anyway do not allow branching or cluster reset so it wouldn't have any visible effect.

[2022-06-08 12:11] hlinnaka opened #1910 "Bad keyspace partitioning if you have a large schema"
I observed layer files like this after restoring a schema with a lot of relations (1000-2000 ?):
[code]
Note the sizes: about 2 GB and 6 GB. That's unexpected, as the compaction code aims for a 256 MB file size.

Looking at the contents of the first file, almost all the space is take by one key, 000000067F00004002000000000000000001. Sample of the contents:
[code]

[2022-06-08 19:54] lubennikovaav commented on #1893
I am looking at the safekeepers' WAL offloading code (release branch) and I am confused.
https://github.com/neondatabase/neon/blob/f88fe021/safekeeper/src/safekeeper.rs#L937

Why does `oldest_segno` is Lsn::MAX when S3 is disabled?
Was it a bug? I don't see this code in the main branch anymore

[2022-06-09 09:29] hlinnaka opened #1915 "Index corruption after compute crash and restart"
Compute crashed while restoring a large schema (somewhere around 1000-2000 tables). After restart:
[code]

[2022-06-09 09:37] hlinnaka commented on #1915
This happened on the production env

[2022-06-09 11:59] hlinnaka commented on #1910
And indeed this is causing trouble already. From the logs (from a different test run then the above):
[code]

[2022-06-09 14:44] aome510 commented on #1763
I was able to reproduce the above behavior in #1891. Overall, we have a large read latency during the heavy write workload. But still need to do more experiment and investigation to find the underlying reason for such latency.

[2022-06-09 15:14] #1753 closed

[2022-06-09 17:03] knizhnik commented on #1910
So delta layers is filled by multiple versions of filenodemap. As far as there are many relations, this file is large enough ~50kb.
The only possible solution seems to be splitting one key between different layers.
As far as we support overlapped layers, it should not cause problems.
I will tr to prepare patch.

[2022-06-09 19:17] KlimentSerafimov commented on #1805
do we want to support project names like "my-cluster-123"? (with hyphens) which are not fully [:alnum:]?

[2022-06-09 19:23] kelvich commented on #1805
Currently, project names are alphanum and "-"

[2022-06-09 20:27] petuhovskiy opened #1920 "On-demand download of S3-offloaded WAL"
Recently we started offloading WAL from safekeepers to S3, and removing WAL segments from the disk after a successful upload. That means that `send_wal` (START REPLICATION [LSN]) is no longer able to stream WAL from the beginning of the timeline once we trimmed the WAL.

We can fix this by downloading WAL segment from S3 once we need to read WAL at some LSN, and we don't have a corresponding segme

[2022-06-09 21:40] knizhnik commented on #1910
Just added some workaround: check not only LSN range but also size of open layer.
Still think that serialization of the whole catalog should be avoided, because storing several extra gigs of data seems to be bad idea.

[2022-06-10 03:10] arssher commented on #1852
What you said is correct. We'll soon add some logic to terminated compute which lost leadership eventually and have tests on that, @petuhovskiy is doing it.

[2022-06-10 03:14] arssher commented on #594
done

[2022-06-10 03:14] #594 closed

[2022-06-10 06:23] knizhnik commented on #1915
I just try to load  backup on the latest sources and got the multiple errors likes this:
[code]

[2022-06-10 08:11] hlinnaka commented on #1920
I thought we only remove the WAL from the safekeeper, after the pageserver has uploaded the corresponding layer files to S3. In other words, the pageserver should never call START REPLICATION with an LSN that has already been removed from the safekeeper.

[2022-06-10 08:13] hlinnaka commented on #1904
Why?

It's a a reasonable restriction; if you have multiple roots you might as well have multiple tenants to hold them. But I don't see any harm in it either.

[2022-06-10 08:42] petuhovskiy commented on #1920
That's correct, but there are still some corner cases:
- if pageserver is lagging and we've replaced one safekeeper, that safekeeper can miss required WAL locally
- when we do pageserver migration, we have several consumers, and we need to track that carefully

We can fix these cases separately, but this S3-download patch is easy to do and should simplify things in general. Also if we just want to

[2022-06-10 09:38] hlinnaka commented on #1626
Fixed in commit 8346aa3a2

[2022-06-10 09:38] #1626 closed

[2022-06-10 10:15] LizardWizzard commented on #1904
Initially, I thought that a user (or organization) entity logically corresponds to a tenant. But @stepashka and @kelvich told me that the current vision states that project corresponds to a tenant. A project currently cannot have more than one root. It may make sense actually to allow that. Imagine a web app that uses two separate database instances. In our current schema, they have to be differen

[2022-06-10 10:40] LizardWizzard commented on #1920
But how is that possible? In my understanding of the current implementation, safekeeper cannot remove WAL that was not acknowledged by the pageserver. So S3 offloading duplicates local WAL and there is no mechanism to delete unacknowledged WAL if it overflows the local disk.

+1 for the feature. It can simplify things a bit

For pageserver migration I imagined a solution that will have a loop that

[2022-06-10 12:28] LizardWizzard commented on #1904
I do not see any contradictions here :) We plan to have on-demand download from S3. With that, we can assign different branches to different page servers avoiding full data duplication and splitting the load if needed. There is not much sense in it if branches are a) short-lived b) do not generate much data.

So basically this is the question of the probability of having two highly loaded branches

[2022-06-13 14:41] zoete commented on #1807
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md

[2022-06-13 14:46] ololobus opened #1928 "Avoid using slow GET /projects endpoint in cloudbench"
Currently we use GET /projects each time we create project in cloudbench. With hundreds of projects it becomes quite slow.

Yes, we can try to optimize the endpoint itself, but we have 3 projects free tier limit and for now we can just stop using it in the cloudbench.

It only needed on start to get the list of the previously created projects. After that we can maintain the hash map project_name<=

[2022-06-14 06:51] seymourisdead commented on #1885
it seems it happened again
https://neondatabase.pagerduty.com/incidents/Q0HH1XHJ6FUQKR
op id: `13aea768-d05d-45cf-bcc6-a24515fe2b88`

[2022-06-14 07:08] seymourisdead opened #1929 "pageserver responded with status 500"
Got a bunch of [this errors](https://github.com/neondatabase/neon/issues/1885), and then `pageserver responded with status 500` for operations started about the same time.

All projects were from e2e.

ops id:
[code]

[2022-06-14 17:59] LizardWizzard opened #1930 "metric for panics"
We need to track if panics occur and alert on that.

A possible solution to do that is through a panic hook.

Discovered during on-call

[2022-06-14 18:39] lubennikovaav opened #1931 "test_proxy_select_1 test fails to start postrges because 5432 port is taken"
the test failed in seemingly unrelated PR:
https://github.com/neondatabase/neon/pull/1926

https://app.circleci.com/pipelines/github/neondatabase/neon/7156/workflows/14ceb264-7944-4998-8272-995f8690b88a/jobs/73379/tests

[code]

`test_proxy_options` also fails with the same error, but it is skipped because of the issue #1287

Should we just assign the free port using `port_distributor`?

@funbring

[2022-06-14 19:42] petuhovskiy commented on #1930
Can be related to https://github.com/neondatabase/neon/issues/1721, as we will be able to understand if there were panics before stopping pageserver/safekeeper.

[2022-06-14 20:00] LizardWizzard commented on #1721
It may be even better to analyze logs after test run and fail a test if there were unexpected errors

[2022-06-15 11:32] SergeyMelnikov commented on #1414
I use upload-artifact/download-artifact actions to share results between jobs and it is a bottleneck.
Uploading neon debug build neon to github and downloading it back takes up to 20 minutes (and eats space in github org).
We need to find another way of sharing data between jobs.

[2022-06-15 12:25] cicdteam commented on #1414
what that artifact used for ? can we just cache necessary fils/folders via S3 bucket ? Or just review content of artifact ?

[2022-06-15 14:41] arssher opened #1935 "Read-write in safekeeper walsender from the same task"

[2022-06-15 15:51] rashadg1030 opened #1938 "Is this product compatible with postgrest?"
Hello, big fan of PostgreSQL so I'm excited to see this product. I was wondering if this could be used in conjunction with [postgrest](https://github.com/PostgREST/postgrest).

[2022-06-15 17:21] #1931 closed

[2022-06-15 22:45] bojanserafimov opened #1940 "S3 upload errors"
I'm seeing `Your proposed upload exceeds the maximum allowed size</Message><ProposedSize>6145646592</ProposedSize>` in logs

[2022-06-16 07:17] dvaldivia opened #1941 "How to add new tenants and timelines?"
I'm trying to figure out once I get a cluster running with 1 page server and 3 safe keepers, on how to add a tenant so I can get the compute nodes to pick it up.

[2022-06-16 09:38] moltar opened #1942 "Publish official Docker images"
Would be great to have official builds available in Docker registries (Docker Hub, Amazon ECR Public Gallery).

Thanks!

[2022-06-16 09:40] moltar opened #1943 "Docker Compose demo setup"
Would be great to have a Docker Compose made from the official Docker images (See #1942). Can also combine it with Minio for local S3 compatible storage. This would be a great opportunity to test workloads locally and for integration tests.

[2022-06-16 13:38] SomeoneToIgnore commented on #1941
If you don't control it (i.e. using the Neon website), I have doubts it's possible without contacting the provider.
If you do, check out pageserver's HTTP API: https://github.com/neondatabase/neon/blob/main/pageserver/src/http/openapi_spec.yml

You're able to create the timelines and tenants separately, first a tenant have to be created, later its timeline.
The timelines can be either created from

[2022-06-16 13:44] yeputons opened #1945 "Technical blog post ideas"
Here are some technical (not business, not cost) questions we may want to answer in our next technical blog post(s). Some of them are inspired by questions from https://news.ycombinator.com/item?id=31753345

# Features
* HTTP API [instead of Postgres] for use with Fastly Compute@Edge/Cloudfare Workers.
    * Attaching PostgREST in front of it.
* Can I use %extensionname% with Neon? How do you hand

[2022-06-16 16:16] LizardWizzard commented on #1940
Looks like a dup of https://github.com/neondatabase/neon/issues/1910

[2022-06-16 16:23] #842 closed

[2022-06-16 17:42] dvaldivia commented on #1941
what do you mean by contacting the provider? is the `pageserver` the provider?

I tried to add a tenant via the API on the `pageserver` and I keep getting empty responses, while the pageserver returns the following.

[code]

I may be missing the authorization, but the error doesn't suggest that (perhaps it should return 403)

request

[code]

[2022-06-16 17:44] dvaldivia commented on #1941
@SomeoneToIgnore will `neon_local` work with a deployed cluster? I'm trying to run this on kubernetes

[2022-06-16 20:16] dareiff opened #1946 "Unclear in documentation if SNI needs to be specified, but the postgres.js client says it should"
I've been working on integrating neon into a next.js app, using postgres.js, but it seems the QuickStart guides could show a few extra details if SNI is indeed required.

Specifically, I've added all of the example details, but erroring because of an unspecified project parameter.

Is it a redirect that isn't working properly?

`PostgresError: SNI is missing. EITHER please upgrade the postgres cli

[2022-06-16 20:21] jdatcmd opened #1947 "Simple bug: Can't make from source if a space is in the directory path"
Should be a simple fix...

Specifically my path has: **Extreme SSD1**

`jd@JD-Beelink:/media/jd/Extreme SSD1/jd/repos/neon$ make -j`nproc`
Configuring postgres build
mkdir -p tmp_install/build
(cd tmp_install/build && \
../../vendor/postgres/configure CFLAGS='-O0 -g3 ' \
	--enable-debug --with-openssl --enable-cassert --enable-depend \
	--with-libseccomp \
	--prefix=/media/jd/Extreme SSD1/jd/repos

[2022-06-16 20:34] #1947 closed

[2022-06-17 07:32] SomeoneToIgnore commented on #1941
The service provider: `neon_local` is capable of connecting to the cluster locally only, when all the components are located on the same FS. If anybody else had provided you the cluster, you're unable to manipulate it with `neon_local` from outside.

Try adding `v1/doc` path to your deployment's basepath to show the swagger UI, e.g. http://localhost:9898/v1/doc for locally started pageserver with

[2022-06-17 09:26] zxcjhg commented on #1623
Hey, is it still relevant? I want to give it a go. Looking at the code, I was thinking to write another function to spawn a thread but with restart_on_error flag instead shutdown_process_on_error. What do you think?

[2022-06-17 10:53] LizardWizzard commented on #1623
Hi! Thank you for your interest! The problem is likely to be fixed with either #1794 or #1933 TLDR we're planning to switch to a threadpool because when the number of tenants is high so is the number of threads which already affected us because of the limit on a number of threads in some of the `tracing` dependencies

[2022-06-17 11:05] LizardWizzard commented on #1941
@dvaldivia The error happens because you're trying to reach page server's endpoint dedicated to Postgres protocol. Not HTTP.  Page Service thread serves page requests from the compute node. The API call should succeed if you use HTTP port instead. The default for it is 9898. The setting is controlled via `listen_http_addr` config option in `pageserver.toml`

[2022-06-17 12:33] #1920 closed

[2022-06-17 14:01] arssher opened #1952 "Per pageserver (or read-only replica) progress tracking in safekeepers"

[2022-06-17 16:33] yeputons commented on #1945
Another one: a short post about our troubles with SNI and older clients.

[2022-06-17 17:02] bojanserafimov commented on #1945
Another: Product dogfooding. How we use neon free tier projects to power the test result database and some business analytics. Two big points to deliver:
1. Clear up misconceptions about when a serverless database (especially a developer preview database) is a good choice. This could be a separate topic on its own. Explain that it's not about whether it's a hobby project or a production service. S

[2022-06-17 17:11] bojanserafimov opened #1956 "Perf regression with commit f2881bbd8a90bc4b04fb1693ad3a684b260a0f98"
![ff](https://user-images.githubusercontent.com/8680233/174345772-445d8e3c-5857-4d88-aee0-e12714b241ab.png)

@LizardWizzard is investigating

[2022-06-17 18:45] yeputons commented on #1945
Few others from twitter.

[One](https://twitter.com/codepitbull/status/1537473733878767616):

[Two](https://twitter.com/gunnarmorling/status/1537474374252519425):

[2022-06-17 18:54] LizardWizzard commented on #1956
Initially, I compared two commits: https://github.com/neondatabase/neon/commit/f2881bbd and https://github.com/neondatabase/neon/commit/bea84150. The first one increases the duration of test_bulk_insert from 7 seconds to 16. This range contains [commit](https://github.com/neondatabase/neon/commit/9a0fed0880dd1d1f482763b8de7c3a2c219fcf43) that enables at least one safekeeper in each test. **Includi

[2022-06-17 19:06] bojanserafimov commented on #1956
Good to know there's no actual regression.

The captest environment is a better place for whole system tests. For example, now I'm not sure if the safekeeper is the bottleneck (because fsync?) or if safekeeper and pageserver are competing for disk. Also postgres is running with `'synchronous_commit=off'`, which is more comparable with `num_safekeepers=0`.

[2022-06-17 19:06] #1956 closed

[2022-06-17 19:06] yeputons commented on #1946
Thank you, I will take a look into it. The following code works for me in my old Node 10. Would you mind checking if it works for you as well?

[code]

The underlying issue is that we must somehow distinguish clients connecting to the same server process. We can do that easily if there is a hostname in the initial SSL handshake via SNI. Otherwise, a workaround is required. Specifying the `project`

[2022-06-17 19:27] LizardWizzard commented on #1775
I started fixing it. Then for some time, I thought that per tenant detach will simplify things (no need to take gc/compaction locks), but as it turns out we still need to be able to delete separate branches, so I'll return to it. #1936 handles wal_receiver joining

[2022-06-17 20:54] yeputons commented on #1938
You can, but it won't be scale-to-zero without some tweaking (see below). Here is a config that should work:

[code]

The reason for the `db-channel-enabled = false` is that Postgrest keeps a separate database connection alive for [Schema Cache Reloading](https://postgrest.org/en/stable/schema_cache.html#schema-reloading) by default. Even though the connection is idle most of the time, and Neon st

[2022-06-19 02:07] dvaldivia commented on #1941
Using port `9898` I was able to add a tenant and a timeline! thanks

[2022-06-19 02:07] #1941 closed

[2022-06-19 03:02] dvaldivia opened #1959 "Safekeepers unable to connect to pageserver: `reader taken`"
I'm starting a distributed Neon DB but I'm seeing my safekeepers go into a repetitive error loop where they sort of complaint they can't connect to the pageserver.

After adding the tenant and timeline, I can see in my bucket two files being created, more over, a request every second to put the index object, so I assume connectivity to the object store is working, however when I start my compute n

[2022-06-19 03:04] dvaldivia commented on #1959
perhaps the line that reports a query with a `(null)` user is telling something?

[code]

[2022-06-19 03:26] dvaldivia opened #1960 "Feature Request: Add support for custom certificates/CAs"
I'm testing Neon using an S3 compatible object storage inside Kubernetes and I found that if the object storage is using a CA that is not trusted by the safekeeper/pageserver connectivity is not possible.

In my case, my object storage is using certificates issues by the internal kubernetes CA, thus each pod has the certificates and can trust them if they get copied over to `/etc/ssl/certs` howeve

[2022-06-19 08:28] ololobus commented on #1885
We got the same situation on prod tonight: https://neondb.slack.com/archives/C03F5SM1N02/p1655627129866909?thread_ts=1655625880.656499&cid=C03F5SM1N02

Peculiar aspect is that we don't use etcd for coordination on prod yet, so it's likely not related and could be some older problem

[2022-06-19 09:07] hlinnaka commented on #1960
Hmm, could you change the kubernetes volume mount configuration to put the certificate in `/etc/ssl/certs` instead?

Patches are welcome for an additional flag, too.

[2022-06-19 10:38] ololobus commented on #1885
I restarted all storage services around 10:30 CEST 19.06 and it helped, so far all e2e rounds passed, while previously ~60-70% of runs were failing

[2022-06-20 11:40] #1928 closed

[2022-06-20 13:20] o1lab commented on #1946
Running into same - connecting via TablePlus with connection string provided + SSL mode set to `required`.

[2022-06-20 14:20] kelvich commented on #457
The discussion moved to https://github.com/neondatabase/cloud/issues/1604

(for @x4m: most likely we'll use Odyssey, tried using pgbouncer and immediately stepped on a few issues)

[2022-06-20 14:20] #457 closed

[2022-06-20 15:40] #1889 closed

[2022-06-20 15:41] kelvich opened #1962 "Project size tracking in the pageserver misses database deleteion"
Repro:

* create a DB
* load it with the data
* remove DB
* project size will remain unchanged

cc @LizardWizzard

[2022-06-20 15:52] ololobus opened #1963 "Compute cannot sync safekeepers on startup"
We have a failing compute on staging, which fails with:
[code]
https://console.stage.neon.tech/admin/projects/dark-bread-262315

Yes, we have some persistent problems with projects on old pageserver after introducing etcd, but this project is assigned to all new storage nodes.

Cannot find any error by timeline id in logs https://observer.zenith.tech/d/d5oYywd7k/zenith-logs-safekeeper?orgId=1&var-

[2022-06-20 17:23] petuhovskiy opened #1965 "Manually set timeline_start_lsn in safekeepers for old timelines"
Look at https://github.com/neondatabase/neon/issues/1963#issuecomment-1160671271 for more info

After `timeline_start_lsn` will be set everywhere, then we can enable checks that were disabled in https://github.com/neondatabase/neon/pull/1964

[2022-06-20 21:34] dvaldivia commented on #1960
since the k8s certs are not available in a secret per-se, I'd have to extract them and put them in a secret, just to mount them on that folder, so it's more kubernetic if I can add them to a writable path, since the containers run as non-root the path needs to be freeform and I need to tell neon to read that path, I'll look into it and see if I can send a PR

[2022-06-21 06:08] nicornk commented on #1945
I would be interested in how to best leverage neon from AWS lambda. AWS missing a true relational serverless database with scale to zero and neon could nicely fill this gap.

[2022-06-21 09:39] petuhovskiy opened #1967 "Availability checker failed after some time cloudbench successfully finished"

[2022-06-21 12:43] petuhovskiy commented on #1967
Fixed in https://github.com/neondatabase/cloud/pull/1645 and https://github.com/neondatabase/cloud/pull/1637

[2022-06-21 12:44] petuhovskiy opened #1968 "cloudbench projects got WAL timeout error after some time"
Example project: https://console.dev.neon.tech/admin/projects/fancy-night-263591
Operations: https://console.dev.neon.tech/admin/operations?project_id=fancy-night-263591&sort=updated_at&order=desc
Timeline Inspector Dashboard: https://observer.zenith.tech/goto/_MXvjn3nz?orgId=1

[2022-06-21 12:54] petuhovskiy commented on #1968
Messages from the [slack thread](https://neondb.slack.com/archives/C03EY0UDC93/p1655742409345329)

[code]

cc @SomeoneToIgnore

[2022-06-21 13:11] petuhovskiy commented on #1968
Looking at the safekeeper logs, it seems that etcd push collector is slow when we have ~1000 of active timelines and that causes problems. We have `WARN broker: push task failed: failed to push safekeeper info` message in the logs at these timestamps:
[code]

We also have `LEASE_TTL_SEC` set to 5s. It looks like we are late to refresh lease because we spend more than 5s collecting and putting info

[2022-06-22 07:33] x4m commented on #457
Cool! Just in case - I'd be happy to sprinckle some commit bits.

[2022-06-22 07:33] x4m commented on #457
JFYI https://github.com/neondatabase/cloud/issues/1604 is closed from me.

[2022-06-22 09:24] stepashka opened #1969 "Epic: upgrade to postgres 15"
DoD: no postgres 14 computes in production after this

[2022-06-22 09:41] petuhovskiy opened #1970 "improvements for etcd integration for safekeepers?"

[2022-06-22 10:35] SomeoneToIgnore commented on #1414
Current status: merged main part of the CircleCI scripts as new GitHub job.

Before removing CircleCI, need more features reimplemented in GH Actions:
https://github.com/neondatabase/neon/pull/1647#issuecomment-1162016373

Also, need to tune the k8s build agents' availability:
<img width="1721" alt="no_k8s_workers" src="https://user-images.githubusercontent.com/2690773/175008836-c7d75572-3aef-41d5

[2022-06-22 14:14] SomeoneToIgnore commented on #1414
Seems that benchmark job reliably fails now, see recent `main` runs and another example from the PR: https://github.com/neondatabase/neon/runs/7003132686?check_suite_focus=true

[2022-06-23 09:38] #1805 closed

[2022-06-23 16:43] LizardWizzard opened #1979 "Epic: internal/developer docs"
In one of the discussions I raised a question regarding documentation. For storage we have quite a few places and sometimes it becomes pretty difficult to navigate.

We have now:
1. Readme's for pageserver/safekeeper
2. neon/docs
3. https://neon.tech/docs/storage-engine/architecture-overview/

This way the knowledge is a bit scattered around different places.

Another problem is that we do not hav

[2022-06-23 17:27] lubennikovaav opened #1980 "Fix safekeeper connection for migrated timeline."
After moving from old to new pageserver (ps-1 --> ps-3), the compute fails to start with `--sync-safekeepers` failure.

experimental project is  https://console.stage.neon.tech/admin/projects/wispy-voice-850996

[2022-06-23 17:28] yeputons commented on #1190
@hlinnaka Do we have a test where `XLOG_SWITCH` is emitted? I see that corresponding lines are triggered somewhere in the coverage reports, but I'm not sure where exactly.

[2022-06-23 20:01] hlinnaka commented on #1190
It's emitted by the `pg_switch_wal()` SQL function, like `SELECT pg_switch_wal();`. Grepping around, we have one such call in `test_runner/batch_others/test_subxacts.py` at least. There are probably more in the Postgres regression tests.

[2022-06-23 20:27] dareiff opened #1983 "Error: FATAL: remaining connection slots are reserved for non-replication superuser connections"
After a certain number of simple SELECTs on a very small table,  I typically need to cool down a bit before getting back to it. Is this unusual? I'm using a regular ol' user (not usesuper, not userepl) and I just don't know if it's a preview thing or a tech thing.

[2022-06-24 05:43] knizhnik commented on #1915
I do not using some noticeable memory consumption while pg_restore and later when compute is restarting and querying data. Maximal size of postgres backend doesn't exceed  170Mb (most of them are shared memory with shared_buffer_size=128MB). It it possible to assume that even i this case we can get OOM if total memory size of VM is limited by 256Mb and multiple parallel workers are started (I see

[2022-06-24 10:32] SomeoneToIgnore opened #1984 "Cleanup pageserver and safekeeper data after tests run"
https://neondb.slack.com/archives/C039YKBRZB4/p1656063193349589?thread_ts=1655976553.704159&cid=C039YKBRZB4

Currently, test suites do not cleanup data during the test runs, relying on another CI step to clean up those.
This works ok, until benchmark tests start to run:

[code]

[code]

We could use the disk space more effectively, since no one checks those files usually, and add an extra paramete

[2022-06-24 10:59] #1980 closed

[2022-06-24 11:49] lubennikovaav opened #1985 "test_wal_acceptor_async.py::test_restarts_under_load fails in CI"
First failure:
https://github.com/neondatabase/neon/runs/7020122796?check_suite_focus=true

Most recent failure is
https://github.com/neondatabase/neon/runs/7040698735?check_suite_focus=true

[2022-06-24 13:28] petuhovskiy commented on #1985
I reproduced it locally, it seems that new etcd walreceiver connection logic has some issues. This issue is likely appeared after https://github.com/neondatabase/neon/pull/1937

Logs from my local run: https://gist.github.com/petuhovskiy/47ebb450830482609c270a4ab7e720b8
Pay attention to `test.log`, it explains all safekeepers restarts to understand which safekeepers should be ready for connections

[2022-06-24 16:29] SomeoneToIgnore commented on #1985
Thank you for the detailed explanation and looking into this generally.

This reconnect should be fixed by the bigger WAL threshold, presumably? The log mention why did we reconnect in this case:

what would be a reasonable value for such?

The latter issue is indeed a bug, I can work on fixing that.

[2022-06-24 23:17] yeputons opened #1991 "If a XLOG_SWITCH record ends exactly on page boundary, WalStreamDecoder does the wrong thing"
Specifically, it tries to read the page header before skipping to the next segment. As bytes after `XLOG_SWITCH` are typically zero, it fails to do so, aborting on a perfectly valid WAL.

[2022-06-25 00:11] yeputons commented on #1983
It should be a preview thing. We've already seen some users bumping into the same issue. It's one of our top priorities this month and further until resolved.

Would you mind sharing a little bit more about your use case? Did you just play with Postgres via some client(s) like `psql`/DataGrip, or did you write and deploy an app somewhere? Any migrations, background instances, replicas..?

[2022-06-25 02:32] rashadg1030 commented on #1938
@yeputons This was extremely helpful. Thank you!

[2022-06-25 15:44] dareiff commented on #1983
Sure!

What spurred this error (though I've seen it for other things as well) was a [next.js](https://nextjs.org/docs/basic-features/data-fetching/get-server-side-props) app and this bit that runs on `getServerSideProps`:

[code]

[2022-06-27 05:29] hlinnaka commented on #1227
Committed a fix to PostgreSQL (https://github.com/postgres/postgres/commit/adf6d5dfb2094cc2bb28b4dea0565dcd0e775ed9). It will appear in the next minor versions.

[2022-06-27 05:29] #1227 closed

[2022-06-27 15:07] petuhovskiy commented on #1970
Should be fixed in https://github.com/neondatabase/neon/pull/1993

[2022-06-27 16:33] knizhnik opened #2000 "no unpinned buffers available"
The following test:

[test_partitioning.py.txt](https://github.com/neondatabase/neon/files/8994002/test_partitioning.py.txt)

failed with `no unpinned buffers available`  error.
And it is with `shared_buffers=128MB`

Certainly it seems to be mostly problem of postgres executor, rather than of neon.
But it is one more argument that we need larger enough shared buffers, otherwise
users will have pro

[2022-06-27 18:30] #2000 closed

[2022-06-27 20:50] SomeoneToIgnore commented on #1414
After https://github.com/neondatabase/neon/pull/1987, https://github.com/neondatabase/neon/pull/2001 and https://github.com/neondatabase/neon/pull/2002

we've got the whole testing pipeline reproduced in GH Actions similar way it's done in CircleCI.

Now, we need to implement building docker images and publish those, it's done in https://github.com/neondatabase/neon/pull/1986

apart from that, som

[2022-06-27 22:28] bojanserafimov opened #2003 "race in set_tenant_state"
1. Thread 1 sets state to idle and drops mutex
2. Thread 2 sets state to active and starts gc/compaction threads
3. Thread 1 kills the threads
4. Now we have an active tenant with no threads

cc @SomeoneToIgnore

[2022-06-29 16:31] bojanserafimov commented on #1606
@lubennikovaav ran into this when exporting basebackup from wild-smoke-235209, which is on very old stage pageserver (Mar 19 deployment). Is there a known fix to uncorrupt the data? Do we want to investigate?

[2022-06-29 19:03] stepashka commented on #1874
we haven't published this
will revisit this idea

[2022-06-29 19:03] #1874 closed

[2022-06-29 19:03] #1877 closed

[2022-06-29 19:05] stepashka commented on #1878
will decide on this with the team

[2022-06-29 19:05] #1878 closed, assigned to nobody

[2022-06-29 19:05] #911 closed

[2022-06-29 19:05] stepashka commented on #1471
will be delivered as part of another Epic

[2022-06-29 19:05] #1471 closed

[2022-06-29 21:40] #1985 closed

[2022-06-30 08:12] #1940 closed

[2022-06-30 10:15] MMeent opened #2011 "key_range_size is not great"
`key_range_size` is used as a size approximator for how large the keyspace of a Range<Key> is, but it only returns u32 and thus will often return u32::MAX when such Range<Key> is large (key_range_size could have an effective size of 2^152).

This limits the effectiveness of the relying functions, such as `KeySpace::partition(&self, target_size: u64)`, especially when they work with effective range

[2022-06-30 13:13] #240 closed

[2022-06-30 13:14] #242 closed

[2022-06-30 13:14] #382 closed

[2022-06-30 13:15] stepashka commented on #382
we've started this in blog and docs, will keep improving

[2022-06-30 13:15] #490 closed

[2022-06-30 13:16] #498 closed

[2022-07-01 07:55] stepashka commented on #1901
@aome510 , are you picking up #1569 it seems to be contributing here directly, would it be fair to say you're woking on this?

[2022-07-01 09:39] arssher commented on #1414
Currently merged PRs and in progress ones don't contain deploy to staging as far as I can see, so we stay on CircleCI for this currently, right?

[2022-07-01 09:51] SomeoneToIgnore commented on #1414
Yes, that's on CircleCI still.

[2022-07-01 10:04] hlinnaka commented on #1607
Initial work on this from @MMeent: https://github.com/neondatabase/neon/tree/feature/test-format-versions

IIUC, the code is white-box style; the test code has very intimate knowledge of the exact WAL record kinds that are handled in the pageserver. The idea is to run the tests with one version, store the generated files somewhere, and then run a different set of tests with a new version of the bi

[2022-07-01 10:18] hlinnaka commented on #1607
Thinking about this some more, let me try to first define the goal more clearly:

## Goal

Have a test, run automatically in CI, that fails if the new binary cannot read all layer files generated by all old binaries that have been deployed to production at any time.

The thing we want to avoid, is that we deploy a new binary to production, and it fails to read old data correctly. We want to catch

[2022-07-01 11:37] kelvich opened #2016 "Epic: set up infra for periodic perf tests with bigger databases"
Right now we have some infrastructure to run periodic tests, but it needs more love. For some amount of time safekeepers were not capable of automatically deleting WAL, so we avoided big databases as they were causing disk overflow on staging. Now safekeepers can clean their WAL so let's start doing more realistic tests.

As result we want to have the following:
* Grafana overview dashboard with o

[2022-07-01 17:33] lubennikovaav opened #2020 "Test import of large projects from fullbackup"
It is possible, that import checkpoint will generate huge layer file.
We need to make sure that checkpointer, compaction and S3 handle it correctly.

@LizardWizzard

[2022-07-01 17:55] ololobus opened #2021 "Panic in the compute_ctl while reading the pid file"
Got this in Docker once:
[code]

It happened around the first unwrap() here:
https://github.com/neondatabase/neon/blob/65704708fa922b524d3ab75995c39afc5c4f562e/compute_tools/src/pg_helpers.rs#L247-L260

The log looks like this:
[code]

So we panicked right in the moment when Postgres started.

Maybe we tried to read pid file while it was modified by Postgres? Probably we should handle this unwrap(

[2022-07-01 18:05] SomeoneToIgnore commented on #2020
See also
https://github.com/neondatabase/neon/issues/1910
and
https://neondb.slack.com/archives/C026T7K2YP9/p1656571026233649

We use PUT requests only when dealing with S3 and those are limited with ~5 GB.

We require the size of the upload in the remote storage API anyway, so we can work on detecting and switching mechanism.

Yet, according to the Slack discussion, we don't plan to have such big

[2022-07-04 08:02] hlinnaka commented on #2020
Hmm, so to summarize the problem, if you import a large database from a physical backup, all the imported page versions will have the same LSN. Our current strategy for avoiding large files is to freeze the in-memory layer roughly every 1 GB (ie. checkpoint_distance). But that doesn't help, if all the data is imported with the same LSN.

A quick solution can be perform "compaction" after the impor

[2022-07-04 10:45] bayandin commented on #1607
I'm probably still not familiar enough, so I can't really suggest what is the best way to **unit**-test it right now.

This makes sense.

and

I just want to point out that the current example of a layer in that branch ~2MB, so I'd guess we won't want to have a lot of such files in the repo (unless we use something like git-lfs).

Is there an enum of WAL types? If so, we can ensure (by testing thi

[2022-07-04 12:00] yeputons opened #2023 "Simple insert query takes tens of seconds after restart on an interesting WAL"
Found in #1989.

# How to reproduce

1. Check out commit c25948008aa6795ae66d6727238333fa36a2caae
2. Enable postgres logs by adding `pg.config(['log_min_messages=DEBUG2'])` right before `pg.start()` in `test_wal_generate.py`
3. Build everything by `make -j4`
4. Run a single test: `RUST_LOG=debug poetry run pytest -k 'test_wal_generate[last_wal_record_crossing_segment]'`

Note how a simple `INSERT

[2022-07-04 14:25] aome510 commented on #1901
@stepashka, I'm working on this issue (prob after taking a look into https://github.com/neondatabase/neon/issues/1899). #1569 is related, but I'm not sure about the status of that PR.

[2022-07-04 17:06] aome510 commented on #2023
Just taking a look into this. It seems that this issue happens when we "Restarting all safekeepers and pageservers" after running the WAL generation. Comment the "restart" part out, no large timeout happens.

Based on the PG log:
[code]

Look like upon restarting the pageserver and compute notes, the `ZenithFeedback` data stored inside `walprop_shared->feedback: WalproposerShmemState` hasn't been

[2022-07-04 17:10] aome510 commented on #2023
My wild guess is that some timeout happens that forces etcd to start a new connection, which is the reason why the insert's request time is about 15secs every time.

[2022-07-04 17:44] SomeoneToIgnore commented on #2023
Most probably, those

are the other ones sent by safekeepers, related to its WAL offload.
One could check the events with `etcdctl --endpoints=etcd-release.local:2379 watch --prefix neon/9a545ef7f96d4e3ba3e60823c5e36e0f/33760f91928b64a7c62dd431507b92ab` or similar prefix.

There are no explicit timeouts in pageserver in the related code and neither those are intended.

When you see the `wal_connec

[2022-07-05 02:04] bojanserafimov opened #2027 "Tenant doesn't go to "idle" state unless explicitly detached"
Tenant remains active even if there are no active computes connected to it for a while. This is not technically a bug since the "idle" state is currently defined as "no walreceiver connections". But this is not an intuitive definition. I'd expect "idle" to mean "no recent activity", and I'd expect a small tenant to go idle in less than a second after computes disconnect.

This behavior might expla

[2022-07-05 06:06] #1623 closed

[2022-07-05 06:06] #1646 closed

[2022-07-05 08:42] kelvich opened #2028 "Epic: resolve the pageserver backpressure problems"
The current plan is:

- [x] tweak the backpressure settings (already on staging) (this was reverted)
- [x] tweak the backpressure settings again on staging
- [x] tweak the backpressure settings on production once the fix is confirmed on staging
- [ ] bring back the patches from Konstantin

Ortiginally we had this plan:

We have quite a lot of issues about backpressure and several attempts to fix i

[2022-07-05 09:38] kelvich commented on #1979
Related: https://github.com/neondatabase/neon/issues/1557

[2022-07-05 09:40] kelvich opened #2029 "Epic: on-demand S3 downloads"
# On-Demand Download

This epic tracks the effort to get Heikki's https://github.com/neondatabase/neon/pull/2595 shipped.

## Roadmap

(Dates in this list is time of merge into `main`)

1. Nov 22 -> Nov 25 -> Nov 28: Land `storage_sync2` PR #2785
    - [x] root out flaky tests
    - [x] port relevant unresolved conversations in original PR https://github.com/neondatabase/neon/pull/2785#issuecommen

[2022-07-05 09:54] kelvich opened #2030 "Epic: improve error handling in the pageserver"
We are a bit clumsy with our error handling right now: we print unnecessary backtraces, sometimes we check error type by matching an error message, we don't classify errors by types, etc.

At the minimum we need:
* distinguish errors by severity
* distinguish between errors caused by panic catch and all other error

@funbringer did a good job with https://docs.rs/thiserror/latest/thiserror/ crate

[2022-07-05 10:11] kelvich commented on #1900
I don't think that e2e tests are the right place for expanded tests for branches. At first, those tests already exist https://github.com/neondatabase/cloud/blob/main/tests_e2e/tests/test_project.py#L400 At second, I think e2e tests are to test integrations and basic error-out scenarios, not to test feature corner cases. IMO it is better to expand branching tests suite around the pageserver itself

[2022-07-05 10:28] kelvich opened #2031 "Epic: create per-service unit tests for pageserver services"
We have a bunch of `lazy_static` variables in the pageserver that make it quite hard to spin up one or more of the pageserver services (like page service, wal service, etc). We did a good job in the safekeeper to allow such tests: https://github.com/neondatabase/neon/blob/main/safekeeper/src/safekeeper.rs#L968-L975 Such test are most quick to run, so we can programmatically generate a lot of edge

[2022-07-05 14:10] kelvich commented on #1556
@LizardWizzard can you please re-order subtask in (todo, postponed, etc groups)

[2022-07-05 14:26] lubennikovaav commented on #1969
We need to inform all clients in advance. Their apps may be incompatible with postgres 15.

The work that me and @bojanserafimov are doing in tenant migration epic partially covers the script part

[2022-07-05 14:31] kelvich opened #2035 "Create an RFC/docs about tenant state management"
And clean up state machine.

[2022-07-05 14:47] knizhnik commented on #2028
So my understanding of the current status is the following:
1. 100MB write_replication_lag is too much: it cause minutes delays and wait_for_lsn timeout expiration.
2. Reducing write_replication_lag to 10MB mostly eliminate large delay problem (it is within few seconds). But at some cases it shows significant (~2 times) slowdown of insertion comparing with 100MB lag. This is why I tried to impleme

[2022-07-05 14:47] kelvich commented on #1900
killed in favor of https://github.com/neondatabase/neon/issues/1899

[2022-07-05 14:47] #1900 closed

[2022-07-05 14:58] kelvich commented on #1902
@kelvich to provide proposal about physical sizes

[2022-07-05 15:09] hlinnaka commented on #2028
Oh, can we close https://github.com/neondatabase/neon/pull/1793 then?

[2022-07-05 19:06] aome510 commented on #2023
I think that's the reason, upon restarting

the big lag prevents the compute node from sending any WALs.

Pageserver ignores any new connection request because the commit LSN is no more than its last record:
[code]

No new connection, so no `ReplicationFeedback` sent to the compute node to initialize the correct write lag.

## Why this works normally after 15secs
Probably, the compute has some tim

[2022-07-05 19:06] knizhnik commented on #2028
O sorry,  it is not yet merged. Can you add review of #1793 so that I can merge it?

[2022-07-05 19:50] aome510 commented on #2023
One way to fix this is to modify `WalreceiverState::applicable_connection_candidates` to accept new candidate with `etcd_info.timeline.commit_lsn >= Some(self.local_timeline.get_last_record_lsn())` if page server has no connection. Otherwise, use `etcd_info.timeline.commit_lsn > Some(self.local_timeline.get_last_record_lsn())`.

@SomeoneToIgnore WDYT?

[2022-07-05 19:56] SomeoneToIgnore commented on #2023
That's a great finding, thank you for looking into that.
TBH, this solution feels like a stub to me, fixing the issue with a non-obvious way, but have no better options myself, so might be ok to implement this way, but more comments and unit tests should be added.
@LizardWizzard could propose better, I believe 🙂

[2022-07-06 17:04] aome510 commented on #2023
Probably, the compute node has some timeout or some background job that will send WAL regardless of the lag value.

I dig "a little bit deeper" into this and found that the background seems to be the background writer's `LogStandbySnapshot`:

[code]

And the behaviour described in this issue can be easily replicated with the below test:

[code]

[2022-07-06 21:59] hlinnaka commented on #1946
I found a workaround for TablePlus:

It uses libpq for the connection, so like with other programs using libpq, you can specify libpq connection parameters in the "database name" field. For us, it means that you can specify the "options=project=<project name>" like this:
![Screenshot_2022-07-07_00-58-28](https://user-images.githubusercontent.com/191602/177650575-a7b0abd4-b7a1-4f0e-9dab-271e95d8c87

[2022-07-07 09:56] #2021 closed

[2022-07-07 11:57] yeputons commented on #1667
The test was enabled back in #1974.

A new failure: https://app.circleci.com/pipelines/github/neondatabase/neon/7766/workflows/99bc62ae-a35f-4215-bd53-bd592e941a5d/jobs/79749

[code]

[2022-07-07 12:04] yeputons opened #2048 "`test_wal_backup[mock_s3]` is flaky"
Example: https://app.circleci.com/pipelines/github/neondatabase/neon/7767/workflows/abf658db-1a9c-413c-bb4e-a2cfb74350a6/jobs/79743

[code]

[2022-07-07 14:32] LizardWizzard commented on #1667
I plan to merge #1936 once tests pass and we'll see if the problem comes up again

[2022-07-07 15:08] yeputons commented on #2023
Hmm, if I try `RUST_LOG=debug poetry run pytest -k 'test_wal_generate[simple]'`, I do not see such behavior, do you? The difference is the shape of WAL generated.

[2022-07-07 16:32] aome510 commented on #2023
Oh I was referring to the new test I added [above](https://github.com/neondatabase/neon/issues/2023#issuecomment-1176467619).

One requirement for the startup issue is a specific size of WALs (> 15MB) needs to be accumulated before the restart to trigger the backpressure on startup. I guess that's not the case for "[simple]" test

[2022-07-08 09:57] LizardWizzard commented on #1606
Is it the second staging pageserver or the first one? The problem was related to second one. First one has old storage and I think it is not worth it to investigate

[2022-07-08 10:30] LizardWizzard commented on #1898
#1936 is now merged, attach and detach now handle tenant as a whole

gc tests for branching are tracked in #1899. @stepashka  should we close this?

[2022-07-08 11:04] hlinnaka commented on #1898
Yeah, let's close this

[2022-07-08 11:04] #1898 closed

[2022-07-08 11:56] #1190 closed

[2022-07-08 11:57] hlinnaka commented on #467
Got another failure with the same error:  https://github.com/neondatabase/neon/runs/7250242872?check_suite_focus=true

[code]

From a different test this time, and from python rather than WAL receiver. But I think it's a similar resource exhaustio issue in the CI.

[2022-07-08 12:04] hlinnaka commented on #467
And a few more here: https://app.circleci.com/pipelines/github/neondatabase/neon/7822/workflows/71c87bd2-5707-40d0-aae1-4fc7993d09fe/jobs/80303, see [tmp/test_output/test_unavailability/repo/pgdatadirs/tenants/57391c9e525f441bb18801c0dedaaf7d/test_safekeepers_unavailability_pg_node/pg.log](https://output.circle-artifacts.com/output/job/981a199f-6526-40cc-a26f-d093ebad3949/artifacts/0/tmp/test_outp

[2022-07-08 12:58] yeputons commented on #2048
Another one: https://app.circleci.com/pipelines/github/neondatabase/neon/7824/workflows/e97c21e5-6c7f-498a-9f0c-f1289fed6c06/jobs/80328

Slightly different LSNs:

[code]

[2022-07-08 12:58] hlinnaka opened #2054 "Branch creation waits for compaction to finish"
Then I tried to understand why GC takes so long time, although it is expected to be cheap operation (reading only layers metadata, do not read or write layer file content - just delete deteriorated layers).  And the reason is compaction_cs which is obtained not only by compaction but also by GC. And compaction can really take very long time. Is it acceptabe to delay creation of new branches and GC

[2022-07-08 13:03] yeputons opened #2055 "`test_s3_wal_replay` is flaky"
Example: https://app.circleci.com/pipelines/github/neondatabase/neon/7824/workflows/e97c21e5-6c7f-498a-9f0c-f1289fed6c06/jobs/80328

[code]

Works for me locally, though.

[2022-07-08 13:19] knizhnik commented on #2054
Actually compaction is performed for L0 layers. And we can just prohibit GC of L0 layers. In this case not synchronization between GC and compaction is needed. But, from the other side, if GC horizon (LSN and time) is small enough, then there is a chance that L0 layer can be deleted before compaction is triggered. In this case we void doing redundant work, which is good.
But if we really want to s

[2022-07-08 13:37] #1991 closed

[2022-07-08 13:39] yeputons commented on #1667
@LizardWizzard It comes in a new form: https://app.circleci.com/pipelines/github/neondatabase/neon/7828/workflows/bce7b9dc-e390-4f42-8beb-1a2e81bf2b9d/jobs/80367

[code]

[2022-07-08 14:20] yeputons opened #2057 "`test_wal_restore` is flaky"
Example: https://app.circleci.com/pipelines/github/neondatabase/neon/7831/workflows/e8a0db48-2ac9-4f8e-ad52-b31ccc16a4c2/jobs/80405

[code]

Pageserver's logs end like:

[code]

Safekeeper's:

[code]

And compute's:

[code]

May be related to #1752

[2022-07-08 14:28] yeputons commented on #1667
And again with the same message: https://app.circleci.com/pipelines/github/neondatabase/neon/7830/workflows/5b01f379-fcfd-4fb0-a71d-f9d4289b8eb4/jobs/80400

It does not reproduce locally :(

[2022-07-08 14:50] ololobus opened #2058 "Give access to the public schema to db owner"
Some users report that db owner cannot drop the public schema. Indeed:
[code]

[code]

The workaround could be to grant permissions to `public` to db owner
[code]

Let's try it.

[2022-07-08 17:14] arssher opened #2061 "Make safekeeper REST API more consistent"
As proposed in https://github.com/neondatabase/neon/pull/2059.

[2022-07-08 18:08] zomars commented on #2058
Thanks for the follow up @ololobus I suspect that I cannot run this myself right? Trying to run `ALTER SCHEMA public OWNER TO <db_owner>;` returns the same error:

[code]

[2022-07-08 19:48] arssher commented on #2023
@aome510 thanks for the investigation.

That would leave the connection open even if there is nothing to do (currently it still works mostly the same, but this is not an excuse). The better way would be for safekeepers to announce existence of live compute(s) along with `commit_lsn`, and for pageserver to connect if there is a compute regardless of its caughtup-ness.

To recap, the problem is that

[2022-07-08 19:51] ololobus commented on #2058
Yeah, we need to adjust our compute node code. Just tried with the local Postgres instance, worked well. Not sure how it'll play with our roles management, though, will try

[2022-07-08 20:52] yeputons commented on #2023
I've created a separate branch with @aome510 's test here: https://github.com/neondatabase/neon/commits/test-restart-delay
I hope you don't mind I've put you as the commit author.

@arssher has suggested that the `time.sleep(15)` may actually be necessary not because we want to trigger the background writer before restarting, but because we want to sync the pageserver with the compute so it sees n

[2022-07-08 22:20] yeputons opened #2063 "There should be no way of creating branch without specifying LSN, otherwise there is a race"
Follow-up of the last failures in https://github.com/neondatabase/neon/issues/1667#issuecomment-1179001544, see also #2062.

Looking at our `neon_local timeline branch` command, it works entirely with pageserver: https://github.com/neondatabase/neon/blob/39d86ed29e9a2887e6dc339fbb0eeb6040c12cc8/neon_local/src/main.rs#L690-L710

Moreover, the `test_tenant_relocation` test runs it with `--ancestor-b

[2022-07-08 22:25] yeputons commented on #1667
I think it's a separate issue in #2063, and the old one (with the race condition) may already be fixed. Let's close the issue to avoid mixing different problems and re-create once we see it again.

[2022-07-08 22:25] #1667 closed

[2022-07-11 08:58] LizardWizzard commented on #2063
This problem was mentioned before, see https://github.com/neondatabase/neon/issues/1371 proper solution requires rather big tweaks in console. E g when compute for the branch is running and you want to create a new branch you need to go to the compute, pick the current lsn here, and pass it to pageserver. I think this needs to be part of a console branching support epic

cc @ololobus

[2022-07-11 09:52] ololobus commented on #2063
That is racy anyway if compute is under load. Not sure how the API and UI should look like to the end user. Maybe we should always ask for the timestamp to branch? After that we will re-map it to LSN using the pageserver API and finally create a branch

Thanks for the reminder

[2022-07-11 10:53] LizardWizzard opened #2069 "Error in remote sync: there's no upload metadata and no remote index entry, cannot create a new one"
Saw on staging. Reproduced locally in test_tenant_relocation

```Failed to update remote timeline c3a4795d1187a51f0cdc4d05883fd579/bc7e156cfd38c5a5a4c67ce0815ed9f6: For timeline c3a4795d1187a51f0cdc4d05883fd579/bc7e156cfd38c5a5a4c67ce0815ed9f6 upload, there's no upload metadata and no remote index entry, cannot create a new one```

[2022-07-11 16:03] LizardWizzard opened #2070 "is_shutdown_requested() called in an unexpected thread"
As people noted this log message started to pop up:
`WARN gc iteration{tenant=5e01a4aae8ba2e15baf43c0ca5a4338d timeline=None}: is_shutdown_requested() called in an unexpected thread`

It appears because we switched to tenant tasks thread pool that is managed by tokio, and thus threads are not managed by our `thread_mgr.rs`. this can be fixed by registering tokio threads in our thread manager throu

[2022-07-11 16:43] aome510 commented on #2070
Thanks for creating this issue. I also saw this message in https://github.com/neondatabase/neon/pull/1569#issuecomment-1179363345

[2022-07-12 06:16] #1782 closed

[2022-07-12 06:49] kelvich commented on #1607
+1, important versions to test against are the currently deployed staging and prod. So during the release, we can create a database, fill it with `pgbench` or `pg_regress` data, and export a logical dump (sorted pg_dump) and raw data files. Then on each PR, we can check that the current storage format can read that data, and Postgres running on top of it will produce the same logical dump.

[2022-07-12 07:20] #857 closed

[2022-07-12 11:31] kelvich commented on #1607
We've chatted with @MMeent about a plan here:

- manually upload some pageserver data directory with one tenant (pg_dump of it) to the S3
- with python tests fixtures, create a pageserver; swap data directory with one from S3; and start Postgres on top of it
- run `pg_dump | sort | md5` on a new compute and compare it to the old pg_dump's hash
- or/and pg_basebackup against new pageserver
- try ru

[2022-07-13 08:40] kelvich commented on #1607
I was talking about pg_dump to make sure that we've read all the data properly. Just starting pageserver over the old data directory is not enough -- you won't read all the data. So I can think of the following:
* We have pageserver data directory along with the output of `pg_dumpall`  on the S3
* To check that we can read this data directory, we start the new pageserver on top of it, start comput

[2022-07-13 08:45] LizardWizzard commented on #1607
Gotcha, I ve read it as we upload only pg_dump, not the original datadir

[2022-07-13 17:44] aome510 opened #2086 "test_ancestor_branch and test_branch_and_gc are flaky"

[2022-07-13 19:22] Ranguna opened #2088 "Cannot create or grant roles"
Running the following query:

[code]

Results in the following error:
[code]

The query was performed from the UI and also programmatically with the DB owner credentials.

I tried to workaround this by creating two users through the neon UI console and then granting one user to the other (just a workaround so I can test the rest of my migration), but I was not able to grant one user to the other:

[2022-07-13 19:29] bojanserafimov opened #2089 "`pageserver --version` broken"
It used to show github sha, now shows this:

[code]

[2022-07-14 07:28] #2089 closed

[2022-07-14 10:36] stepashka commented on #1869
@yeputons mantioned today that maybe this is not reproducing anymore

[2022-07-14 11:16] yeputons commented on #2086
Examples of `test_ancestor_branch`:

https://app.circleci.com/pipelines/github/neondatabase/neon/8032/workflows/f017e5f0-940d-41ce-bb71-7197930ceb17/jobs/82345
https://app.circleci.com/pipelines/github/neondatabase/neon/8032/workflows/c6c23a56-dc0b-41e7-96c8-112317be5fc4/jobs/82328/tests#failed-test-0

Logs are the almost same, here is the first one:

[code]

[2022-07-14 11:23] yeputons commented on #2086
Logs for `test_ancestor_branch` are:

[code]

So, the test inserted 200k lines at `2022-07-14 10:49:24.278` UTC and tried to create a branch, but timed out

Logs of Postgres instances are scarce, here is `main`:

[code]

And here is `branch1`:

[code]

Pageserver is scarce as well:

[code]

And so is Safekeeper:

[code]

[2022-07-14 14:12] stepashka commented on #1219
@kelvich , could you double check? is there anything remaining here?

[2022-07-14 14:15] aome510 commented on #2086
What interesting is that `test_ancestor_branch` doesn't fail on its own: https://app.circleci.com/pipelines/github/neondatabase/neon/8007/workflows/5bae3d5c-bb01-4ce2-b3b5-98a4825f8b66/jobs/82140. In that action, I tried to run the test 20 times.

Look like it only fails when running in combination with other tests. Note that `other-test-debugs` runs tests in parallel.
My guess is it happens becau

[2022-07-14 14:17] yeputons commented on #2086
Wild guess: what if we just run more tests in parallel than we have cores/disk IO/whatever?

[2022-07-14 14:28] aome510 commented on #2086
Interesting =). It's possible that's the cause as tests added in https://github.com/neondatabase/neon/commit/5cf94a58484c22baea32fa88aaf9b2f4e763e882 spawns 10 threads in the test.

[2022-07-14 15:08] stepashka commented on #474
this is either solved or backlog

[2022-07-14 15:11] #474 closed, assigned to bojanserafimov

[2022-07-14 17:10] bojanserafimov opened #2097 "import basebackup bug with large (>1GB) relations"
A large relation will have multiple segment files ("12345", "12345.1", "12345.2", etc). After importing one of those files we flush the datadir modification, but don't call `writer.flush_write`, so we don't advance `last_record_lsn`. When we import the next file, we try to read the current relation size to make sure not to decrease it, in case files were imported out of order. Because we flushed,

[2022-07-14 20:01] LizardWizzard commented on #2069
This was fixed, most probably by accident in this commit: https://github.com/neondatabase/neon/commit/95452e605ab16a79aee3580a0147c31811ded32a#diff-2dee9987054422607c1ab7369e102927d8477dea6d75c4c7f3891e3d65b15d1eR1970

The problem was that compaction operation pushed empty upload operation for a timeline that RemoteIndex is unaware of, because it was a newly created branch without any data sitting

[2022-07-14 20:01] #2069 closed

[2022-07-15 09:30] #2086 closed

[2022-07-15 16:50] bojanserafimov opened #2106 "Add context for `Timed out while waiting for WAL` error"
Distinguish between 4 cases:
a) We have a walreceiver and we reached end of stream
b) We're actively processing wal
c) There's no walreceiver
d) Requested LSN is ahead of commit LSN

Or possibly measure and report breakdown of what all the time was spent on. Ideally we'd use tracing infrastructure but we can improvise until then.

[2022-07-15 17:56] arssher commented on #2048
Yes, looking.

[2022-07-18 11:17] hlinnaka commented on #467
Another one, from a docs-only PR: https://app.circleci.com/pipelines/github/neondatabase/neon/8150/workflows/ef2c3e04-1585-40c3-802b-7ebe7611c673/jobs/83441/steps

[2022-07-18 11:32] arssher commented on #2048
So, the last two are caused by
[code]
addressed by https://github.com/neondatabase/neon/pull/2109

I don't see any particular problem with the first two. It just looks like pageserver couldn't chew full segment (16MB) in 1 minute of `Timed out while waiting for WAL record at LSN 0/4A82038` timeout. In this test we insert a bunch of data to create full segment and then immediately recreate compute

[2022-07-18 11:43] hlinnaka commented on #467
Never mind, I this was different. I was looking at the postgres log, and it contained errors like this:
[code]
But I think that was just IPv6 not working, which is OK. I'm not sure what caused the timeout in that CI run, though.

[2022-07-18 11:56] hlinnaka opened #2112 "Timeout in test_wal_acceptor::test_unavailability"
https://app.circleci.com/pipelines/github/neondatabase/neon/8150/workflows/ef2c3e04-1585-40c3-802b-7ebe7611c673/jobs/83441/steps

[code]

[2022-07-18 12:01] hlinnaka commented on #2112
@arssher can you take a look at this one, please?

Looks like it got stuck while trying to start the safekeeper. The test performs the safekeeper-startup in a separate process. Looking at sk2/safekeeper.log, it succeeds, though, so not sure what's going on. The background process that launches the safekeeper doesn't seem to print anything about in the pytest log. Is that a pytest thing? Maybe usin

[2022-07-18 14:40] hlinnaka commented on #1979
The docs are in mdbook format now, collected mostly in the docs/ directory rather than as scattered READMEs. There's a lot more documentation that we could and should write, but that's a different issue.

[2022-07-18 14:40] #1979 closed

[2022-07-18 16:52] ololobus commented on #2058
@zomars just bumped the compute image version on prod. Database owner now should have a full control of the scheme `public`. So you can drop and create it again. Can you try to restore your dump again?

[2022-07-19 14:52] #2055 closed

[2022-07-19 16:42] bayandin opened #2125 "Unpause stress env deployment"
It was paused in https://github.com/neondatabase/neon/pull/2122, need to revert that PR (when we're done experementing)

[2022-07-19 16:44] petuhovskiy commented on #1959
Hi! It's generally hard to say what exactly has gone wrong, but I'll try to guess the probable issue and explain logs a little bit.

The issue is in the safekeeper configuration. More specifically, you need to set `--listen-pg` in cmd args to the safekeeper's `address:port`, which should be available for the connection from the pageserver. Currently, it's set to `0.0.0.0:6500` and pageserver tries

[2022-07-19 17:37] petuhovskiy commented on #2112
I once had an issue with python Process on macOS. It was not timeout, but python3.8+Process+macOS behaved strange, global variables were not initialized in a child process. It was also hard to debug, because background process swallows all the output.

Sure, async will be better than Process and can also fix the issue. I'll create a PR to replace Process with async.

[2022-07-19 18:56] #2054 closed

[2022-07-20 08:09] #378 closed

[2022-07-20 09:58] #2020 closed

[2022-07-20 10:23] yeputons opened #2130 "CI failures because of cachepot: error: Connection to coordinator timed out"
Example: https://github.com/neondatabase/neon/runs/7413016828?check_suite_focus=true

[code]

[2022-07-20 11:40] hlinnaka commented on #2063
This just happened again here: https://github.com/neondatabase/neon/runs/7413000700

[2022-07-20 19:13] #2112 closed

[2022-07-21 06:53] hlinnaka commented on #1910
This was fixed in commit 572ae743883df19f5ca9f32d7cdce7a7ca5cca4f.

[2022-07-21 06:53] #1910 closed

[2022-07-21 08:30] bayandin opened #2136 "Prepare a database for remote_cluster tests"
For `remote_cluster` marked tests, we use a preexisting database that we don't prepare before tests. And sometimes it fails to create a table with the same name. See https://github.com/neondatabase/neon/pull/2135 and  https://github.com/neondatabase/neon/pull/2037/commits/1beba0d4c4d89d836341eeac9686a17fb63d5c18.

I see several ways to improve it:
- Do not use preexisting db. Create a new project

[2022-07-21 11:51] LizardWizzard opened #2137 "Track tokio tasks in thread_mgr"
We can rename thread_mgr to task_mgr then :)

Originally raised by @hlinnaka here: https://github.com/neondatabase/neon/pull/2078#issuecomment-1185383111

[2022-07-21 13:12] SomeoneToIgnore commented on #1910
The commit message does not mention L1 layers, could they now also be partitioned properly?

https://neondb.slack.com/archives/C033A2WE6BZ/p1658254390210739?thread_ts=1658226076.657579&channel=C033A2WE6BZ&message_ts=1658254390.210739

If not, let's reopen the issue before that's addressed so, that those layers are uploaded for the case from the thread.

[2022-07-21 13:18] knizhnik commented on #1910
There are in-memory (open) layers, L0 persistent layers and L1 persistent layers.
Right now compaction is triggered when N L0 layers are created, then  this layers are shuffled into L1 layers.
L1 layers are never compacted.

This patch limits size of open layers (and so size of L0 layers) and size of L2 layers created during compaction.

[2022-07-21 13:23] SomeoneToIgnore commented on #1910
Not sure what are those, but I see that this patch won't help the existing oversized L1s, thank you.

[2022-07-21 13:40] LizardWizzard opened #2138 "Revisit bucket values for STORAGE_TIME histogram"
I decided to run pgbench init with scale 600 against staging environment and check what are the durations for typical storage operations.

On the graphs I see that layer flush sometimes takes longer than the highest bucket boundary. We following default buckets from prometheus library: `0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 1.0, 2.5, 5.0, 10.0`

The [query](https://observer.zenith.tech/explore

[2022-07-21 13:59] knizhnik commented on #1910
Sorry, mistyping. I mean L1 layers.
But yes, you are right: existed oversized L1 layers will not be reshuffled with patched version.

[2022-07-21 17:36] aome510 opened #2140 "`test_branch_creation_before_gc` is flaky"
The latest failure can be found in https://github.com/neondatabase/neon/runs/7453848505?check_suite_focus=true.

Relevant `pageserver.log`:
[code]

## My hypothesis

The `test_branch_creation_before_gc` test expects branch creation task to be failed because a `do_gc` request is processed before and makes the specified starting LSN invalid.

However, `do_gc` requires to read-lock the tenant state b

[2022-07-22 08:43] #2070 closed

[2022-07-22 09:17] hlinnaka commented on #2138
This is the "layer flush" metric? Yeah, it can take a long time if the I/O subsystem is busy.  If we see that regularly in production, though, it's probably time to scale out the pageservers.

[2022-07-22 10:30] LizardWizzard commented on #2138
On a quick chat we discussed this and the follow up step to check what actually takes time, maybe layer flush waits on some locks or something else

[2022-07-22 11:44] #2140 closed

[2022-07-22 14:47] moltar opened #2146 "error: could not open extension control file"
[code]

[2022-07-23 08:12] Ranguna commented on #2088
Any acknowledgment of the issue ?

Am I doing something wrong here ?

[2022-07-23 10:28] haphut opened #2148 "Prefer TLS connections in documentation"
The current Neon onboarding starts by a suggestion to import my data. Yet as far as I can see, all of the current Neon documentation guides developers to use unencrypted connections.

I see from the Certificate Transparency logs that you already have a Let's Encrypt wildcard certificate for `*.cloud.neon.tech`.

I think it makes sense to have secure defaults. Please switch the `psql -h pg.neon.tec

[2022-07-25 06:35] kelvich commented on #2088
Hey! Sorry for the slow reply. We are going to start working on this soon. Some details: https://github.com/neondatabase/neon/pull/2104 We have some pipeline of features/fixes in progress, so I think we probably get to this one in September.

[2022-07-25 06:43] kelvich commented on #2148
Makes sense. So far, password flow (`<project>.cloud.neon.tech`) is using only TLS -- even if you try to connect without TLS our proxy will not allow this. But `pg.neon.tech` is a bit different and configured without TLS now. Will fix

[2022-07-25 06:47] kelvich commented on #2146
cc @MMeent -- I'm getting the same both on prod and staging.

[2022-07-25 11:59] lubennikovaav opened #2151 "Update pageserver's code to support Postgres 15"

[2022-07-25 14:34] stepashka commented on #1414
go for it, @SergeyMelnikov !

[2022-07-25 14:45] stepashka commented on #2058
feel free to reopen if this doesn't work for you, @zomars

[2022-07-25 15:11] stepashka commented on #1009
consider putting the remainders into the separate task @stepashka

[2022-07-25 15:12] #543 closed

[2022-07-25 16:02] aome510 commented on #2028
To summarize what we have done with the current backpressure approach,

- I added backpressure tests in https://github.com/neondatabase/neon/pull/1919 that confirms the big read latency in https://github.com/neondatabase/neon/issues/1763
- @knizhnik added a patch (https://github.com/neondatabase/postgres/pull/177) adding LSN cache to mitigate the above issue. It was confirmed by the new tests that

[2022-07-25 16:07] aome510 commented on #2023
Is there anyone actively working on implementing this? I'm not too familiar with the safekeeper code, but can try if needed. I also found that we already have a reliable test for this issue in https://github.com/neondatabase/neon/commits/test-restart-delay.

cc @yeputons @arssher

[2022-07-25 20:28] knizhnik commented on #2028
Some more information from my side:
1. Even without last written LSN cache (pageserver#177) I have not seen large latencies with #1919 and #1763 tests with `max-replication_write_lag=15MB` and `wal_log_hints=off`, Second one is important because when enabled, autovacuum may produce a lot of WAL without obtaining XID and so not be blocked by GC.
2. I never saw (even in CI results) errors like  "cou

[2022-07-25 22:13] zomars commented on #2058
Are these changes live? I'm afraid I'm seeing the same issue:

<img width="820" alt="image" src="https://user-images.githubusercontent.com/3504472/180882752-a28863ba-9269-44b5-951e-b6a7eb3a34c7.png">

[2022-07-26 07:52] hlinnaka opened #2157 "Move WALProposer into an extension"
We have a lot of Neon-specific code related to walproposer in `src/backend/replication`. Let's move that to an extension, under `contrib/neon`. See https://github.com/neondatabase/neon/blob/main/docs/core_changes.md#walproposer. This takes us one step closer to running vanilla Postgres on Neon storage.

This probably requires adding a new API or hook in core Postgres. That's OK. We'll then need to

[2022-07-26 08:42] zoete opened #2158 "Use gen2 runner for neon repo"
- [ ] Use new runners with minimal edits to existing workflow file

[2022-07-26 10:26] ololobus commented on #2058
Yes, it is public. Just tried with a new project and database owner is owner of schema public, so I can drop and create it again:
[code]

@zomars I see that error references schema `mypublic`, not `public`. Could it be that you created it from a different user? You can check schema ownership with `SELECT nspname, nspowner::regrole::text FROM pg_catalog.pg_namespace;`

[2022-07-26 10:38] kislerdm opened #2159 "Neon API requests handling error"
## Problem description

Some Neon API end-points return incorrect responses. The are not in line with [the documentation](https://console.neon.tech/api-docs/v1), neither are they correct from the logical point of view.

## How to reproduce

Please find the examples illustrating API calls to retrieve data for the project which does not exist.

[code]

## Expected behaviour

The following response i

[2022-07-26 11:53] petuhovskiy commented on #2157
Several weeks ago we talked a bit about this with @arssher and reached a conclusion that we can remove all Neon-specific code from `walsender` and instead interact with replication slots directly from `walproposer`. Currently, we are bypassing most of the `walsender` code with our patches and it makes sense to remove all our patches from `walsender` and then just copy some essential code from `wal

[2022-07-26 12:25] petuhovskiy opened #2160 "walreceiver connection is cancelled right after connected"
One timeline is stuck in a weird state where it cannot start receiving new WAL and cannot serve basebackup because of WAL timeout. Safekeepers look ok, but walreceiver connection breaks right after successful connection.

[code]

@SomeoneToIgnore can you take a look?

[2022-07-26 15:59] LizardWizzard opened #2165 "Proxy deployment failed because previous deployment havent finished"
See https://github.com/neondatabase/neon/runs/7517350443?check_suite_focus=true

@cicdteam could you please take a look?

[2022-07-26 16:56] ololobus opened #2166 "Safekeeper tries to load timeline control file several times in a second"
Noticed locally that safekeeper with one running, yet inactive, compute constantly writes in the log that it reads the control file:
[code]

Comment from @petuhovskiy:

[2022-07-26 18:15] zomars commented on #2058
I've tried with a new DB and new user and indeed the schema is now being dropped correctly. But I'm getting new permission errors 😬

<img width="652" alt="image" src="https://user-images.githubusercontent.com/3504472/181081285-ba5f7cda-7c1d-4ea8-90c4-a4e89bc789b6.png">

[2022-07-26 19:28] knizhnik commented on #2028
Yes, you are right.
Backpressure help to minimize delay of single `get_page_at_lsn` call.
But if we have to fetch hundreds of pages (as in `test_pgbench_intensive_init_workload` performing `select count(*) from foo`),
then delay can be really large. And the larger source table is, the larger delay will be. With none backpressure settings we can provide performance similar with vanilla if table doe

[2022-07-26 21:12] aome510 opened #2167 "Allow `logical_size` to be lazy initialized when loading a branch"
Currently, `logical_size` is initialized when loading a branch. This can be an expensive operation for large DB, as it needs to scan through many relations for size calculation.

It's possible to make this step lazy, as "there's no strong reason we couldn't allow the user to use the branch, before the logical timeline size has been calculated". (https://github.com/neondatabase/neon/pull/2154#discu

[2022-07-27 07:57] Ranguna commented on #2088
Thanks for the update!

[2022-07-27 17:15] SomeoneToIgnore opened #2171 "Test walreceiver failure cases"
Part of https://github.com/neondatabase/neon/pull/2168 and https://github.com/neondatabase/neon/issues/2160

We track [connection attempts](https://github.com/neondatabase/neon/blob/d6f12cff8e1dd858a961369d6caf1e8ea8345759/pageserver/src/walreceiver/connection_manager.rs#L258) in walreceiver logic, but have no test for that.
We would need to ensure that we're able to recover after temporary networ

[2022-07-27 18:29] #2061 closed

[2022-07-27 19:16] #2160 closed

[2022-07-28 06:07] SomeoneToIgnore commented on #2160
Needs further fixes, see https://github.com/neondatabase/cloud/issues/1932

[2022-07-28 10:39] erenerdemli opened #2177 "Unable to install/build on MacOs"
Unable to install on mac os due to lib crypto issue

<img width="1151" alt="Screenshot 2022-07-28 at 13 38 01" src="https://user-images.githubusercontent.com/23046690/181486031-0e50d08f-a40c-449e-8da4-c03c2fdef059.png">

[2022-07-28 10:40] erenerdemli commented on #2177
<img width="1602" alt="Screenshot 2022-07-28 at 13 40 35" src="https://user-images.githubusercontent.com/23046690/181486463-25217fc5-d6ed-4237-85a9-41ffbbc68d85.png">

[2022-07-28 12:35] SomeoneToIgnore commented on #2177
My setup seems to be very similar:

[code]

yet when I run the build, I see this:

[code]

`--with-includes=/opt/homebrew/opt/openssl/include` is used in the config while you have the `--with-includes=/opt/openssl/include` one.

That comes from this line in the makefile:
https://github.com/neondatabase/neon/blob/61cc562822eaf5f8f51c231d6c65dcbd42a6f44d/Makefile#L34

and I see that I have not set u

[2022-07-28 15:22] ololobus commented on #2058
Ugh, unfortunately, setting the `session_replication_role` requires [superuser privileges in Postgres](https://www.postgresql.org/docs/current/runtime-config-client.html), which we were not going to provide any time soon :(

It's postponed at least till the point when secure runtime is adopted and we implemented this RFC https://github.com/neondatabase/neon/pull/2104.

And I'm not aware of any wor

[2022-07-28 15:22] #2058 closed

[2022-07-28 16:05] #2177 closed

[2022-07-28 16:08] bayandin commented on #2177
Hey @erenerdemli, could you pull new changes and try to build it again? The issues should have been fixed, I believe.

[2022-07-28 17:37] #2125 closed

[2022-07-28 18:45] aome510 commented on #1902
Copied from the list of action items in the issue desc,

I guess this is referred to metric for tenant's physical size, which is the sum of timeline's physical size. We do have a metric for single timeline's physical size: `pageserver_current_physical_size{tenant_id="...",timeline_id="..."} ...`. I think `prometheus` should provide a way to create a metric as a summation of `pageserver_current_phy

[2022-07-28 18:48] erenerdemli commented on #2177
Hi All,

The settings are of a default base of homebrew with no custom changes, homebrew prefix is not set.

<img width="252" alt="Screenshot 2022-07-28 at 21 47 35" src="https://user-images.githubusercontent.com/23046690/181614726-4341fc09-a44e-4af1-b557-76ba96c14798.png">

[2022-07-28 18:52] erenerdemli commented on #2177
Thanks @bayandin

changes seems to have fixed the issue, waiting for build to  now.

[2022-07-28 18:53] bayandin commented on #2177
Great!

Most likely,  HOMEBREW_PREFIX is unset because you haven't set up brew shellenv for your zsh profile: https://docs.brew.sh/Manpage#shellenv

[2022-07-29 10:56] hlinnaka opened #2183 "Aggressive re-enqueuing of delete tasks"
From pageserver log in staging environment:
[code]
The log is full of lines like that. Also, the "Remote storage" thread is consuming a lot of CPU, presumably because it's busy retrying that:
[code]

We need to add some kind of a backoff to that, to avoid the busy-looping and filling the log.

[2022-07-29 11:12] hlinnaka commented on #2183
@SomeoneToIgnore have you seen this before? Is it a known issue?

[2022-07-29 12:06] SomeoneToIgnore commented on #2183
I've seen it before in connection to the oversized L0 and L1 layers, but have not considered a backoff is needed before.
We can work on this indeed.

[2022-07-29 13:31] hlinnaka commented on #2146
#2145 has been merged. So this should start working after the next time that we deploy to production. Thanks for the report!

[2022-07-29 13:58] banks commented on #1475
Hey this project looks super cool!

I hope this is a useful place to note this but a few references still exist in the internal docs for `safekeeper/README_PROTO.md` (also linked in this issue) which is no longer in the source tree.

I'll clone the repo and go find it in history for now!

[2022-07-29 14:09] hlinnaka commented on #1475
Thanks! I opened PR #2188 to fix the references, and while at it, I turned them into links.

[2022-07-29 16:04] #2183 closed

[2022-07-29 16:27] LizardWizzard commented on #1775
After #1936 I do not see this in logs anymore. test_tenant_detach was also created to test detach behavior

[2022-07-29 16:27] #1775 closed

[2022-07-29 16:46] LizardWizzard opened #2191 "External S3 GC"
Since we assume that we can loose an entire pageserver at any time we cant be sure that tenant will be deleted properly from s3 when such request is issued. So we need some external periodical job to compare tenant list in s3 with tenant database and clean up or at least report dangling directories. Probably should be a part of control plane service

[2022-07-29 17:14] LizardWizzard opened #2192 "Refactor pageserver config handling"
Currently it has a few problems. First the distinction between init phase and normal operation. Init is needed to be run separately and that requires separate handling in docker-entrypoint.sh we have here https://github.com/neondatabase/neon/blob/main/docker-entrypoint.sh

This script requires updates to support new parameters.

Options:
* Match safekeeper behavior, avoid config altogether, patth

[2022-07-29 20:24] cicdteam commented on #2165
fixed (helm release were blocked as some previous deploy was failed or canceled in the middle.

[code]

fixed by
[code]

[2022-07-29 20:24] #2165 closed

[2022-07-29 22:14] xmlking opened #2193 "golang basic example not working. Error: Malformed password message: invalid payload"
[code]

when ` sslmode=require"` is not added or with ` sslmode=disable`
Error: ` pq: connection is insecure (try using `sslmode=require`)`

after supplying `sslmode=require` now I am getting following error
Error: `pq: Malformed password message: invalid payload`

[2022-07-30 15:11] pabloesm commented on #2193
I'm having exactly the same issue with Python and `sqlalchemy`. In my case I'm using the snippet provided in the *Code samples*:
[code]

The above code produces the following error:
[code]
which can be fixed, as suggested, by using `sslmode=require`:
[code]
And then I'm receiving the malformed password error:
[code]

[2022-08-01 07:09] bojanserafimov commented on #2097
Sorry, typo: I meant we don't call `writer.finish_write()`, but we do call `self.flush()`. That's why it's not in the `pending_updates` hashmap

[2022-08-01 10:07] bayandin commented on #2193
Hey @xmlking, setting `sslmode=verify-full` should help with it.

[2022-08-01 10:35] bayandin commented on #2193
Hey @pabloesm, I can't reproduce the issue you've mentioned; it works for me even without explicitly setting `sslmode`. I've tried it with python 3.9.13, psycopg2==2.9.3, SQLAlchemy==1.4.39.
Could you please double-check the project id in the connection string (`XYZ` in your example matches the project id in https://console.neon.tech)

[2022-08-01 11:45] petuhovskiy opened #2200 "Safekeeper panicked while holding TIMELINES_STATE mutex"
After the panic TIMELINES_STATE mutex became poisoned and all subsequent timeline gets resulted in PoisonError. I wasn't able to find the panic itself, we probably should tweak our logger to print stacktrace for all panics.

The issue is probably connected to calling delete tenant endpoint, because we didn't see this issue before enabling that. There is a possible race condition in deleting a time

[2022-08-01 12:34] LizardWizzard commented on #1863
Still has some problems with triggering e2e tests: https://github.com/neondatabase/neon/runs/7610981072?check_suite_focus=true

[2022-08-01 15:28] pabloesm commented on #2193
Hi @bayandin and thanks for the quick reply. In my case the `engine` is created correctly, but I am not able to use it in any query (my example in the previous post was incomplete, sorry, my fault).

[code]

Tested with Python 3.10.4, psycopg2==2.9.3, sqlalchemy==1.4.39.

Could you reproduce this example? Thanks!

[2022-08-01 15:30] stepashka commented on #2028
@kelvich  mentioned that we may be ok with tweaking the backpressure settings 10MB or 15MB & without the immediate changes in the backpressure logic
this is configured via the console and we can change it and test it
everybody agreed

[2022-08-01 15:45] ololobus commented on #2028
There are two bp settings max_replication_write_lag and max_replication_flush_lag, set to 500MB and 10GB now. Are we going to set both to 10MB?

[2022-08-01 18:14] petuhovskiy opened #2204 "Refactor safekeeper timeline handling"
Safekeepers now have several per-timeline tasks (like S3 upload, trimming, broker) and the code behind it got complicated a bit. So, we have some tech debt and possibly some bugs.

Ideas:
- [x] late initialization of `wal_seg_size` is not convenient, better to postpone the whole timeline initialization until we know `wal_seg_size`
- [ ] we often need to get the latest commit_lsn/flush_lsn which ar

[2022-08-01 23:04] xmlking commented on #2193
yes, this worked. please document to help other devs.

[2022-08-02 02:03] aqktjcm opened #2207 "Can Neon build or run on redhat/centos operating system"

[2022-08-02 09:43] LizardWizzard commented on #2207
Hi! I'm developing Neon on Fedora Workstation without any problems. To build Neon some system packages are required to be present. See [this](https://github.com/neondatabase/neon#installing-dependencies-on-linux) section in our readme and "On Fedora, these packages are needed" in particular. Please let us know if you face any problems with the setup. Thanks!

[2022-08-02 11:37] ansrivas commented on #2207
I can also confirm, I am also on Fedora 36, the `README` instructions worked perfectly on the first try.

[2022-08-02 11:39] bayandin opened #2208 "pq suggests using `sslmode=require`, but that gives a `pq: Malformed password message: invalid payload` error"
So, pq suggests using `sslmode=require`, but that gives a `pq: Malformed password message: invalid payload` error. It comes from [here](https://github.com/neondatabase/neon/blob/main/proxy/src/auth/flow.rs#L84)

_Originally posted by @bojanserafimov in https://github.com/neondatabase/cloud/pull/1954#pullrequestreview-1058602887_

[2022-08-02 13:18] hlinnaka commented on #2146
The fix has now been deployed to production.

[2022-08-02 13:18] #2146 closed

[2022-08-02 16:33] bojanserafimov commented on #1751
Let's close it because:
1. We know it's not a pageserver bug, but a CI mistake
2. This CI workflow doesn't exist anymore because we don't use Circle anymore
3. We don't have a "delete all files" step after running tests in our current github workflows

[2022-08-02 16:33] #1751 closed

[2022-08-03 12:34] cpursley commented on #1632
Any movement on this? I'd love to be able to use [WalEx](https://github.com/cpursley/walex#postgresql-configuration) & [Supabase Realtime](https://github.com/supabase/realtime) with Neon.

[2022-08-03 12:48] kelvich commented on #1632
Hi! Not really. The rough estimate is Q4.

[2022-08-03 14:16] arssher commented on #2200
Yes, see lines like `2022-08-03 07:09:59 | Suppressed 18238 messages from safekeeper.service`. That was due to ill cluster trying to fetch in busyloop WAL segment which wasn't found, I fixed that. Let's see if this repeats now.

I also increased RateLimit to reduce chance of losing logs again:
https://github.com/neondatabase/cloud/pull/1970

[2022-08-03 14:30] LizardWizzard opened #2211 "GC fails with no such file or directory during detach tenant [P:2] [S:2]"
Showed up when pytest warnings were turned into errors here https://github.com/neondatabase/neon/runs/7653794145?check_suite_focus=true

Related: https://github.com/neondatabase/neon/issues/1775

[2022-08-03 15:06] LizardWizzard opened #2212 "test_timeline_physical_size_post_compaction is flaky"
[code]
Got it for unrelated PR https://github.com/neondatabase/neon/pull/2210

@aome510 could you please take a look?

[2022-08-04 06:58] aqktjcm commented on #2207
Ok, I try it on ubuntu 20.04, and it works.

[2022-08-04 06:58] #2207 closed

[2022-08-04 08:14] #1887 closed

[2022-08-04 09:08] bayandin commented on #2193
Hey @pabloesm, if the error still occurs for you, could you please email us at support@neon.tech with your project id (and a reference to this issue)? We'll debug it there. Thanks!

@xmlking, thanks for the suggestion. Updated examples will be rolled out on the next release!

Feel free to reach out at https://community.neon.tech/

[2022-08-04 09:08] #2193 closed

[2022-08-04 10:22] aqktjcm opened #2213 "command failed: failed to initialize neon repository"
OS: `fedora35`
when i run command: `./target/debug/neon_local init`
errors printed as follows:
![image](https://user-images.githubusercontent.com/7100999/182824618-3f622756-f1d5-4a6c-affc-20ff660deaab.png)

[2022-08-04 10:46] aqktjcm commented on #2213
Problem solved when openssl installed.

[2022-08-04 10:46] #2213 closed

[2022-08-04 10:54] arssher commented on #2200
2022-08-04 02:25:02 | 2022-08-04T02:25:02.619537Z  INFO broker:{timeline=4a8dd72104349afe5e4e135c63ebf4d6}: timeline 53466ed253a1c866860c476e9bef1bbc restored thread 'broker thread' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 2, kind: NotFound, message: "No such file or directory" }', libs/postgres_ffi/src/xlog_utils.rs:399:41 stack backtrace:

This is the problem.

[2022-08-04 11:13] petuhovskiy commented on #2200
More context:
[code]

[2022-08-04 11:46] bayandin opened #2215 "GitHub Actions: Use S3 cache instead of actions/cache"
It should be faster and more reliable

[2022-08-04 13:36] LizardWizzard opened #2216 "Investigate leaking resources in tests"
In [this](https://github.com/neondatabase/neon/pull/2210) PR I tried to enable pytest to treat warnings as errors and it turns out we have significant amount of resource warnings related to resources (most commonly sockets) which are not closed properly

@bayandin pointed out that pytest 7.1 introduces a way to trace this warnings to a point where resource was allocated. See: https://github.com/py

[2022-08-04 13:58] vadim2404 commented on #1591
The issue should be closed because of merged PR that adds this command.

[2022-08-04 14:00] #1591 closed

[2022-08-04 14:56] #2200 closed

[2022-08-04 16:35] ololobus commented on #2028
@hlinnaka @knizhnik can you clarify?

[2022-08-04 18:51] knizhnik commented on #2028
No, just `max_replication_write_lag `

[2022-08-05 06:15] grav commented on #1825
+1 to using `>>` instead of `>`!

Wrt the other points this seems to be fixed.

[2022-08-05 10:27] kelvich opened #2221 "Epic: performance parity with vanilla on medium-sized databases (100-300GB)"
- [x] https://github.com/neondatabase/neon/pull/1793

Investigations ongoing or needed:

## 1. Why is there a difference between "new project" and "old project" performance in our benchmarks?

- Are the benchmarks interfering with each other?
- Lock contention in pageserver?

@bojanserafimov is investigating this.

## 2. Sequential scan performance

### 2.1. Prefetching

Pretching still cannot kee

[2022-08-05 11:20] bojanserafimov opened #2222 "Fix CI for external contributors"
"Tests fail because they rely on infra you have no access to. Sorry about that, we'll work around it somehow to merge this PR and solve the issue for the next external contributor. Thanks for contributing."

_Originally posted by @bojanserafimov in https://github.com/neondatabase/neon/pull/2195#pullrequestreview-1063218757_

[2022-08-05 11:21] bojanserafimov commented on #2222
cc @LizardWizzard @zoete @bayandin

[2022-08-05 12:05] LizardWizzard commented on #2222
Related https://github.com/neondatabase/neon/issues/1863

[2022-08-05 12:50] LizardWizzard commented on #1841
Causing troubles again. Having quite a lot of `unable to lock pid file. could not daemonize. bailing.` errors here https://github.com/neondatabase/neon/runs/7690981632?check_suite_focus=true

[2022-08-05 17:34] #1147 closed

[2022-08-08 08:25] aqktjcm opened #2227 "Deploy SafeKeep and Pageserver separately in different machines"
I would like to test Neon's performance.
The sample in README.md shows how to deploy SafeKeeper and Pageserver locally. Is there any way to deploy multi SafeKeepers and Pageservers in different machines from postgres?

[2022-08-08 08:58] bayandin commented on #2208
Users keep seeing it and it's confusing:
- https://github.com/neondatabase/neon/issues/2193
- https://community.neon.tech/t/error-trying-to-add-as-destination-in-segment-com/100

@funbringer could you please have a look once you have a moment?

[2022-08-08 10:05] arssher commented on #2023
@aome510 Yes, please. In case of questions feel free to reach out.

[2022-08-08 11:13] arssher commented on #2212
Got it again
https://github.com/neondatabase/neon/runs/7723174729?check_suite_focus=true

[2022-08-08 11:24] arssher commented on #2227
Sure. However, `neon_local` doesn't support non-local installation, so you would need to init & run pageserver and safekeepers manually. You can have a look at `.github/ansible/systemd/pageserver|safekeeper.service` for example of running, and `init_pageserver|safekeeper.sh` scripts for init (you don't need console part, so basically running once with `--init` is enough).

Also etcd must run along

[2022-08-08 12:38] tom2strobl opened #2230 "Permission error when creating triggers"
Hi there – I heard about neon from a hasura newsletter and am pretty stoked!

We switched a simple dev db to neon and all our _previous_ functions and triggers seemed to be imported nicely (although so far we only confirmed their existence and haven't run any tests yet). When we try to create new event triggers through the hasura console (which also makes sure we cannot have any syntax errors of a

[2022-08-08 13:44] knizhnik commented on #2023
As far as I understand it is the same problem which I have fixed in https://github.com/neondatabase/postgres/pull/187
In short: backpressure lag is incorrectly calculated because mixing of `InvalidXLogRecPtr=0` and `UnknownXLogRecPtr=~0`.
Unfortunately there is still no comment or review on this PR.
May be it is better to eliminate  `UnknownXLogRecPtr` at all, which was introduced to make caclulat

[2022-08-08 15:15] #2048 closed

[2022-08-08 15:16] arssher commented on #2048
Most failures were fixed by https://github.com/neondatabase/neon/commit/a69fdb0e8e64ae9482b1a78a546cdd4d3ec6d4ab , the rest were caused by slow runners and don't seem to repeat on github runners.

[2022-08-08 15:26] LizardWizzard commented on #1869
Closing as it does not appear anymore

[2022-08-08 15:26] #1869 closed

[2022-08-08 15:28] LizardWizzard commented on #1868
Do not see recent comments. Some of the bugs were fixed by @SomeoneToIgnore. So closing for now. Feel free to reopen in case it pops up again

[2022-08-08 15:28] #1868 closed

[2022-08-08 15:33] #1405 closed, assigned to nobody

[2022-08-08 15:34] #1893 closed

[2022-08-08 15:53] LizardWizzard commented on #1368
Storage was significantly changed since then. Doesnt reproduce anymore

[2022-08-08 15:53] #1368 closed

[2022-08-08 15:57] LizardWizzard commented on #1870
Fixed in https://github.com/neondatabase/neon/pull/1890

[2022-08-08 15:57] #1870 closed

[2022-08-08 16:01] LizardWizzard commented on #1609
Now we use threadpool for background tasks: https://github.com/neondatabase/neon/pull/1933

Should we close this or we plan to deal with threads going from page_service as well?

[2022-08-08 19:16] kelvich commented on #2230
Hi! Hm, seems that you are stepping on one of the problems with our current setup with user roles. Any chance that you've done initial schema creation through psql web link login or through SQL editor in the console? Right now, those connections are made using a different Postgres role called `web_access.` And some of the grants are missing between `web_access` and your user -- that is on us to fi

[2022-08-09 04:16] aome510 commented on #1475
Fix in #2188

[2022-08-09 06:12] arssher commented on #2023
It looks like all your 3 variants allow to write (disable backpressure) while position of pageserver is unknown. This is a bit dangerous as it makes it possible to ignore backpressure early during the startup, though the window is small and perhaps this is ok. What I proposed instead is to establish safekeeper <-> pageserver connection ASAP after connection from compute appeared by publishing know

[2022-08-09 07:56] aome510 commented on #2212
I failed to replicate the issue both in #2235 and locally. Instead, I got several other flaky tests:

test_tenant_config:
https://github.com/neondatabase/neon/runs/7740489518?check_suite_focus=true
https://github.com/neondatabase/neon/runs/7740120513?check_suite_focus=true

test_pageserver_restart:
https://github.com/neondatabase/neon/runs/7740425335?check_suite_focus=true
https://github.com/neond

[2022-08-09 12:31] aqktjcm commented on #2227
@arssher ，Thanks for your answer.

I have started Pageserver and Safekeeper as you said above, but the postgres process cannot start. How do I initialize and start the postgres process without `neon_local`?

[2022-08-09 15:35] ololobus opened #2237 "Creating a role in in the newly created timeline takes ~17 seconds"
Compute hangs on `CREATE ROLE ...` for around 17 seconds. Reproduced well on staging and locally. See all logs bellow.

Storage logs:
[code]

Compute log:
[code]

[2022-08-09 15:57] petuhovskiy commented on #2237
Looks like something is wrong with walreceiver indeed, I'll try to prepare a patch that can fix the issue.

[2022-08-09 17:41] LizardWizzard opened #2238 "In progress detach operation is lost during pageserver restart [P:2] [S:3]"
Can be solved with additional flags in timeline metadata.

The problem happens when pageserver answers with ok to detach or attach and then restarts before the operation succeeds

[2022-08-09 19:10] hlinnaka commented on #2238
see https://github.com/neondatabase/neon/pull/2239

[2022-08-10 08:27] tom2strobl commented on #2230
Ah I see. Thanks for the swift response! Yes, I did what the first screen told me to do: https://neon.tech/docs/how-to-guides/import-an-existing-database/ (which is using the web login).

I can confirm after deleting and recreating the database in neon (for cleanliness sake) I was able to manually dump/restore not using the web login, but the connection string from the neon admin UI without issues

[2022-08-10 08:27] #2230 closed

[2022-08-10 08:48] aqktjcm commented on #2227
@arssher ，
When starting the postgres process, timeline_id and tenant_id need to be set in postgresql.conf. How can I obtain the values of these two parameters?

[2022-08-10 12:07] arssher commented on #2227
The most simple way would be to set them during pageserver init, e.g.
[code]

Otherwise they tenant/timeline have to be created manually with http calls.

Starting postgres manually is a bit involved, neon_local hides several actions here.
0) Prepare data directory with proper config. See https://github.com/neondatabase/neon/blob/e5cb72757250457a61eeb4bdd7c613527ce7ec98/control_plane/src/compute.r

[2022-08-10 22:23] moltar opened #2243 "error: permission denied to create extension "pg_stat_statements""
[code]

[code]

[2022-08-11 07:27] aome510 opened #2245 "test_tenants_many[RemoteStorageKind.REAL_S3] is flaky"
Example failed runs:

https://github.com/neondatabase/neon/runs/7740424684?check_suite_focus=true
https://github.com/neondatabase/neon/runs/7740121190?check_suite_focus=true
https://github.com/neondatabase/neon/runs/7739496537?check_suite_focus=true
https://github.com/neondatabase/neon/runs/7758820107?check_suite_focus=true

[2022-08-11 07:28] aome510 opened #2246 "test_wal_acceptor_async.py::test_race_conditions is flaky"
Example failed runs:

https://github.com/neondatabase/neon/runs/7739496574?check_suite_focus=true
https://github.com/neondatabase/neon/runs/7758969477?check_suite_focus=true

[2022-08-11 07:32] aome510 opened #2247 "flaky tests because of "unable to lock pid file. could not daemonize. bailing.""
Example failed runs:

test_tenant_config:
https://github.com/neondatabase/neon/runs/7740489518?check_suite_focus=true
https://github.com/neondatabase/neon/runs/7740120513?check_suite_focus=true

test_pageserver_restart:
https://github.com/neondatabase/neon/runs/7740425335?check_suite_focus=true
https://github.com/neondatabase/neon/runs/7740118966?check_suite_focus=true
https://github.com/neondatab

[2022-08-11 10:04] #1009 closed

[2022-08-11 10:10] stepashka commented on #451
closing this as dup of https://github.com/neondatabase/neon/issues/1854
please reopen if you think something else is missing

[2022-08-11 10:10] #451 closed

[2022-08-11 10:13] stepashka commented on #1855
we don't need to auth metrics, as they contain aggregated info and anonymized ids only
it makes much more sense to clean up logs first

[2022-08-11 12:52] bojanserafimov commented on #1841
https://github.com/neondatabase/neon/runs/7786990204?check_suite_focus=true

failed on ci 3 times in a row

[2022-08-11 12:59] hlinnaka commented on #1841
Yeah, the failures are annoying and we need to fix them.

Let's track the failures, and fixing them one way or another, in https://github.com/neondatabase/neon/issues/2247. And keep this issue to track removing daemonize altogether.

[2022-08-11 13:20] stepashka commented on #1902
@ololobus , i've heard that we have the new APIs now!
can we expose this data in the console admin?

[2022-08-11 14:17] ololobus commented on #1902
If you mean the timeline physical size, then yes, we can add it on the project page. Feel free to create an issue in the `cloud` repo and put in on me. I can either do it on my own, or wait for someone's else capacity. Also sounds like a good first issue to do

[2022-08-12 02:24] #2097 closed

[2022-08-12 05:53] aome510 opened #2255 "test_import_from_pageserver_multisegment consistently failed"
`test_import_from_pageserver_multisegment` was added in https://github.com/neondatabase/neon/pull/2172. The test passed in the PR, but after merging into `main`, it failed consistently with the error:

[code]

Example failed run: https://github.com/neondatabase/neon/runs/7800417580?check_suite_focus=true

[2022-08-12 08:18] surquer opened #2257 "error: could not read block xx in rel xx from pageserver at lsn xx"
After deploying neon according to the steps described in the README.md, use pgbench to test the performance, and the following error occurs：
![neon_error](https://user-images.githubusercontent.com/111029484/184313755-abe98e87-2cec-4755-a43c-4fab6a06359d.JPG)

[2022-08-12 09:38] #2227 closed

[2022-08-12 11:45] ololobus commented on #2208
A couple of similar reports more:
- https://community.neon.tech/t/malformed-password-message-invalid-payload/119
- https://community.neon.tech/t/hasura-connection-error/105/2

[2022-08-12 12:37] SomeoneToIgnore commented on #2257
Hard to say for sure what happened without seeing pageserver and safekeeper logs, ideally etcd logs either (you can find those in `.neon/` directory ) and the workload details.

I would guess, that the pgbench test you've launched might have caused big writes which caused pageserver's walreceiver connection to flicker, hence failing to receive WAL timely.
There's a patch https://github.com/neondat

[2022-08-12 12:57] petuhovskiy commented on #2257
That's a plausible theory, but it also could be our usual backpressure issue (see https://github.com/neondatabase/neon/issues/2028). We've already noticed `Timed out while waiting for WAL record` when running benchmarks, and it seems that it's still a relevant issue.

[2022-08-12 13:03] bojanserafimov commented on #2247
Wrote a [test](https://github.com/neondatabase/neon/compare/fixture-restart?expand=1) to quickly + reliably reproduce the issue.

Probably the root cause is that we send kill signal without waiting for pageserver to die. I'll look into it.

[2022-08-12 13:13] knizhnik commented on #2247
There are two obvious but ugly workarounds:
1. Insert some sleep between server restart
2. Make several attempts to lock fie before give up

[2022-08-12 13:58] stepashka commented on #1902
I've added the item:

- [ ] add timeline logical size prometheus metrics

I will create an issue for the console team for adding the size metric there

[2022-08-12 14:00] stepashka commented on #1218
i think this was implemented as part of the other issues in the Epic

[2022-08-12 14:00] #1218 closed

[2022-08-12 14:04] stepashka commented on #1902
@kelvich  is going to write up a proposal for tracking some other size-related metrics
among the ideas were

- track the PITR-data size for each timeline
- track the physical size excluding the PITR data for each timeline (how much space would be used if PITR is tuned to 0)

[2022-08-12 14:10] stepashka commented on #1902
we can calculate the tenant size outside pageserver IF sizes of all of the existing tenant timelines are reported by the pageserver (or not reported) simultaneously (in the metrics endpoint and pageserver API). are they, @hlinnaka ?
(otherwize the sum will not be representing the actual tenant size at any specific time)

[2022-08-12 14:38] #2208 closed

[2022-08-12 18:09] hlinnaka commented on #2245
Some of these failures seem to be duplicates of issue #2247.

Assigning to @LizardWizzard since you opened a PR for this already

[2022-08-12 18:28] hlinnaka opened #2264 "Deploy failed in CI"
https://github.com/neondatabase/neon/runs/7810118718

[code]
I'm not sure if this is already discussed somewhere, but I couldn't find an issue to track it..

[2022-08-12 18:30] hlinnaka commented on #2264
Is this related to https://github.com/neondatabase/neon/pull/2263, @cicdteam ?

[2022-08-12 18:50] hlinnaka commented on #2255
My theory: when the pageserver receives SIGTERM, it starts the shutdown sequence, but it doesn't immediately kill GC and/or compaction. They continue to run, and after a large import like in this test, they can take a long time to finish. The timeout on shutdown is 60 s in our tests; if the pageserver doesn't exit in 60s when it receives SIGTERM, the test fails.

The error message with `Cannot ass

[2022-08-12 18:52] hlinnaka commented on #2255
@bojanserafimov can you take a look at this, after the daemonize issue, please? PR #2261 will probably at least change the error message from this test, as it changes the way we wait for the pageserver shutdown.

[2022-08-12 18:52] cicdteam commented on #2264
yes, that PR will fix the issue, i waiting for deploy to ensure everything is well

[2022-08-12 19:26] hlinnaka commented on #2257
Also for performance testing, make sure you're building in release mode:
[code]
and use the binaries from `target/release` instead of `targer/debug`. The debug-mode binaries are significantly slower.

[2022-08-12 19:43] cicdteam commented on #2264
fixed by #2263

[2022-08-12 19:43] #2264 closed

[2022-08-12 19:59] SomeoneToIgnore commented on #2255
This it not a theory and might be triggered very simply, as I've mentioned in the [RFC](https://github.com/neondatabase/neon/blob/kb/timeline-data-management-rfc/docs/rfcs/017-timeline-data-management.md#timeline-data-synchronization).

I'm not sure if it's really the case here though, but libpq [`do_gc`](https://github.com/neondatabase/neon/blob/e593cbaabafafb6f54c9ddcd5d1d9f04d1bd4490/pageserver

[2022-08-12 21:01] ansrivas commented on #2106
Hi, I opened a PR to address this. It is not very elegant solution, but I guess as the ticket says,
this simply adds a bit of context whenever the timeout occurs.

I also think the wording in the context can be slightly improved, but anyway, please have a look
if I can improve something there.

[2022-08-14 11:47] #544 closed

[2022-08-15 01:54] surquer commented on #2257
Yes, it happens when writing tests

[2022-08-15 01:54] surquer commented on #2257
Yes, it is tested with the release version

[2022-08-15 01:59] surquer commented on #2257
Yes, it happened while doing the read and write test with lots of reads and writes at the same time

[2022-08-15 06:55] hlinnaka opened #2269 "Upgrade PostgreSQL to v14.5"
It was released on Aug 11th. Let's upgrade.

[2022-08-15 06:56] hlinnaka commented on #2269
old issue for upgrade to 14.3 / 14.4 here: https://github.com/neondatabase/neon/issues/1675.

@MMeent can you do this again, please?

[2022-08-15 06:57] hlinnaka commented on #1675
14.4 was merged some time ago already, closing.

[2022-08-15 06:57] #1675 closed

[2022-08-15 08:55] petuhovskiy commented on #2246
Looked at the pageserver logs in the first run, seems similar to walreceiver issues which can be fixed with #2253.

In the logs pageserver spends a minute without an active walreceiver connection:
[code]

[2022-08-15 09:27] petuhovskiy opened #2270 "test_wal_acceptor_async.py::test_concurrent_computes is flaky"
https://github.com/neondatabase/neon/runs/7834746692?check_suite_focus=true

Found this in postgres logs:
[code]

Here we got a higher term from safekeeper, which means that at least one compute is running concurrently. After that, we log FATAL message and restart walproposer process.

This is probably not how it should work, and we should stop all postgres processes and get a new basebackup.

[2022-08-15 10:03] hlinnaka opened #2271 "Prometheus metrics are left behind when a tenant is detached"
When a tenant is detached or a timeline is deleted, we don't remove the corresponding prometheus metric. Should call https://docs.rs/prometheus/latest/prometheus/core/struct.MetricVec.html#method.remove_label_values somewhere

[2022-08-15 12:01] ololobus opened #2273 "Safekeeper: invalid xlog page header: unexpected XLP_FIRST_IS_CONTRECORD at 0/4ECA000"
Got this failure in e2e CI https://github.com/neondatabase/cloud/runs/7837120289?check_suite_focus=true#step:36:14645

Compute log (a lot of such messages):
[code]

Safekeeper log:
[code]

[2022-08-15 12:08] arssher commented on #2273
fixed by https://github.com/neondatabase/postgres/pull/193

[2022-08-15 12:42] bojanserafimov commented on #1051
I can't reproduce it either

[2022-08-15 12:42] #1051 closed

[2022-08-15 14:40] bayandin commented on #2016
https://github.com/neondatabase/neon/issues/2221 is required to continue

[2022-08-15 15:26] LizardWizzard commented on #2245
#2248 is the PR that increases the timeout for waiting until checkpoint is uploaded. This should help because previously we used only local flavours of remote storage (either local fs or mock server running locally) and now we use truly remote s3.

Please reopen if you see this again

[2022-08-15 15:26] #2245 closed

[2022-08-15 15:31] petuhovskiy commented on #2237
It seems that startup time has become better after the #2253. I'm closing this issue, but if you have another case with a long startup time you can create a new issue with the logs attached.

<img width="1121" alt="image" src="https://user-images.githubusercontent.com/8150127/184665736-0a841c3a-fcda-4b86-9054-dcebe75d6b47.png">

[2022-08-15 15:31] #2237 closed

[2022-08-15 16:50] bojanserafimov commented on #1876
Fyi there are now some [client integration tests](https://github.com/neondatabase/neon/tree/main/test_runner/pg_clients), but the example code there does not match the example code we provide for users in the console. cc @bayandin

[2022-08-15 18:27] bojanserafimov commented on #1716
I wonder if instead we should add python bindings for the `neon/control_plane` crate, and use those directly in fixtures. Some reasons why I find this appealing (assuming it's not difficult):
1. Less plumbing, no need to go through a CLI
2. Test fixtures would spawn child processes without conflicting with any locally running neon, and without daemonizing, which would make setup/cleanup more relia

[2022-08-15 18:55] bojanserafimov commented on #1609
It will take a while until we hit that limit and we can avoid it by spawning more pageservers instead. But making the page_service async will take some work, so it's worth laying out the first steps. Should we transition away from PostgresBackend similarly to what we did in the proxy? Since that would be a big-ish lift anyway, is it time to consider whether the libpq protocol is serving us well in

[2022-08-15 18:56] bojanserafimov commented on #1606
Time to close this? 0 occurences since the migration

[2022-08-15 19:00] bojanserafimov commented on #1521
Seems done to me, reopen if not https://github.com/neondatabase/neon/pull/1545

[2022-08-15 19:00] #1521 closed

[2022-08-15 19:01] petuhovskiy opened #2276 "test_wal_acceptor_async.py::test_wal_deleted_after_broadcast is flaky"
https://github.com/neondatabase/neon/runs/7839377748?check_suite_focus=true

[code]
Test checks that postgres will delete old WAL segments after they're broadcasted to safekeepers and not used anymore. This time it failed in CI because of 3 segments left on disk (expected 2).

<details>
<summary>python log</summary>

[code]

</details>

<details>
<summary>pageserver log</summary>

[code]

</detail

[2022-08-15 19:04] bojanserafimov commented on #1439
Seems solved?

[2022-08-15 19:28] #1439 closed

[2022-08-16 02:12] surquer commented on #2257
``> Hard to say for sure what happened without seeing pageserver and safekeeper logs, ideally etcd logs either (you can find those in `.neon/` directory ) and the workload details.

I updated the code and tested it, the problem still exists, there are many "Timed out while waiting for WAL record at" in pageserver.log

[pageserver.zip](https://github.com/neondatabase/neon/files/9347461/pageserver.z

[2022-08-16 07:32] arssher commented on #2023
@yeputons Could you please try again on current main? After https://github.com/neondatabase/postgres/pull/187 merge it should be gone.

[2022-08-16 07:38] surquer opened #2283 "Using pg_bench for read and write tests, tps often drops to 0 and then resumes"
neon performs well in read-only scenarios, but tps drops to 0 when writing tests.（deploy neon according to the steps described in the README.md, release version）
![image](https://user-images.githubusercontent.com/111029484/184823644-cd0cf378-7121-468f-b06f-3f9aba33b905.png)

[pageserver.zip](https://github.com/neondatabase/neon/files/9348756/pageserver.zip)

[2022-08-16 09:15] #2158 closed

[2022-08-16 10:33] rhzs commented on #2271
@hlinnaka is it possible to call it in inside `Drop` trait ?

[2022-08-16 10:41] kelvich commented on #2221
Interesting. Can you try to reproduce staging/perf settings in your setup? E.g., set precisely the same settings as with staging (you can start a node in perf env and dump `pg_settings()` there) and probably restrict compute node for one CPU -- I think it is possible to do it via cgroups (https://www.cybertec-postgresql.com/en/linux-cgroups-for-postgresql/)

[2022-08-16 12:41] hlinnaka commented on #2271
Makes sense. After https://github.com/neondatabase/neon/pull/2278, you could do it in `Drop` implementation of `TimelineMetrics`.

[2022-08-16 15:13] #1825 closed

[2022-08-16 15:14] bojanserafimov commented on #1825
Thanks for reporting! It has been fixed inside our webapp repo and will be visible on next release.

[2022-08-17 07:26] knizhnik commented on #2221
Will do.
But I do not think that any of parameters except `shared_buffers`, `wal_log_hints` and  `max_replication_write_lag` can significantly affect performance.

I tried to set `no_sync=true` for safekeepers but it doesn't significantly change results.

Concerning limiting number of CPUs - this workload in any case doesn't load all cores.
Without "avoid page reconstruction hack" there are three

[2022-08-17 07:53] knizhnik commented on #2221
In any case, vaccum takes less than 1/3 of total time of pgbench initialization phase.
Even if we completely eliminate it (which is certainly not possible) we will increase speed not more than 30%.

Index construction is using parallel read from logical tapes and prefetch right now is not used here.
In principle, it can be also added for logical tapes rea, but parallel read from multiple workers m

[2022-08-17 08:31] #1606 closed

[2022-08-17 12:17] #2247 closed

[2022-08-17 12:17] #1840 closed

[2022-08-17 17:43] bayandin commented on #2283
Hey @surquer, could you provide a bit more information about your setup and which pgbench you are running? Thanks!

[2022-08-18 09:29] lubennikovaav commented on #1969
Current state:
- Neon rebased to postgres 15 passes all the tests: https://github.com/neondatabase/neon/pull/2240
- With Heikki's refactoring PRs we can build pageserver supporting both postgres versions simultaneously
  PR https://github.com/neondatabase/neon/pull/2250 (ready for merge)
  PR https://github.com/neondatabase/neon/pull/2161 (needs some polishing)

The remaining parts:
- actually cho

[2022-08-18 12:19] arssher commented on #2246
Shouldn't repeat after latest walreceiver patches.

[2022-08-18 12:19] #2246 closed

[2022-08-18 21:51] hlinnaka opened #2305 "Incorrect results with read-only queries at old point in time"
This test: https://github.com/neondatabase/neon/pull/new/add-test-for-timetravel is failing:

[code]
If you remove the pageserver restart from the test, it passes.

[2022-08-18 22:20] hlinnaka commented on #2305
@knizhnik this bug was introduced by PR #2094. Before that, we only updated the relsize cache when digesting incoming WAL, but now we update it on every get_rel_size() request. That breaks down if you you do "timetravel" queries. In a nutshell, this is what happens in this test:
1. INSERT 100000 rows into table
2. Remember LSN
3. UPDATE all the rows. This extends the relation because UPDATEs creat

[2022-08-19 07:33] hlinnaka opened #2307 "Move contrib/neon extension from 'vendor/postgres' to 'neon' repository"
This makes it easier to support multiple PostgreSQL versions, as we only need to have one copy of the neon extension sources, rather than one in REL_14_STABLE branch and another in REL_15_STABLE branch. We might need to add a few #ifdefs if there is code that needs to be different between Postgres v14 and v15, but there shouldn't be much difference.

[2022-08-19 07:34] hlinnaka commented on #2157
Done in commit f99ccb5041! Opened https://github.com/neondatabase/neon/issues/2307 for the next step.

[2022-08-19 07:34] #2157 closed

[2022-08-19 07:38] hlinnaka commented on #2157
Commit f99ccb5041 removed most of the code changes from `src/backend/replication`. Do you think we could get rid of the rest, too? If so, sounds great!

[2022-08-19 09:53] knizhnik commented on #2221
I found the problem in my new prefetch implementation which cause redundant page loads.
But still prefetch is not able to significantly reduce database population time.
Let's see:
| Measurement | Time (sec) |
| ------------------ | -------------- |
| vanilla vacuum time |  79  |
| neon vacuum time  (w/o prefetch) | 258  |
| neon vacuum time (with prefetch) | 168  |
| get_page total time at pageser

[2022-08-19 10:57] petuhovskiy commented on #2157
Not sure, I think f99ccb5041 implemented most of the things I was talking about. I still think it's possible to clean up `contrib/neon/walproposer_utils.c` more as I wrote in https://github.com/neondatabase/postgres/pull/188#discussion_r938942341, but I won't insist on that.

[2022-08-19 12:05] knizhnik commented on #2221
Actually we are at the same position here as two month before when I first tried to adjust backpressure parameters.
I have found that decreasing `max_replication_write_lsg` from 500MB to 10Mb almost two times increase time of pgbench database initialization. This is why I start looking toward smarter throttling algorithm.
Then we have implemented various tests and benchmarks for backpressure. And

[2022-08-19 12:24] kelvich opened #2313 "Benchmark the proxy and auth-related console code"
* TPS through proxy for established connections
* Connection rate that proxy+console+postgres can handle. Decide on whether we need some replication for the user credentials table to scale auth database horizontally.

[2022-08-19 12:53] knizhnik commented on #2221
More investigations on where time is spent.
Now just  consider sequential scan: it is simpler than monitoring vacuum stage of pgbench initialization:

| process | operation | time (sec) |
| ----------- | ------------ | ------------- |
| compute backend | smgr read wait time | 58 |
| [ageserver | get_page_at_lsn | 78 |
| wal_redo postgres | postgres | 37 |

Query execution time:
[code]

so it illus

[2022-08-19 16:46] #2273 closed

[2022-08-19 19:10] knizhnik commented on #2221
Using R-tree index doesn't help much.
Looks like pageserver is limited not by CPU, but by speed of reading data from the disk. According to prometheus metrics, about 9 seconds we spent in read() - it is from 72 seconds in get_afe_at_lsn and ~150 seconds of query execution (it's without prefetch).

[2022-08-20 06:08] knizhnik commented on #2221
According to perf:
![seqscan](https://user-images.githubusercontent.com/156922/185731256-4a7e0c8d-a2e7-4350-95f1-ec2151a145a7.svg)

36% is spent in `get_page_at_lsn`, 20% in wal-redo, 12% in flle read, 9% in socket read, 18% i socket write.
It is consistent with the prometheues metrics is we take i account that wal-redo time should be also added to `get_page_at_lsn`.
So about half of query executi

[2022-08-22 05:57] knizhnik commented on #2221
I wonder whether we can make some kind of brainstorming concerning future directions of Neon performance improvements?
Right  now I know the following strategies (most of which I have already tested):

1. Local file cache
    + provide performance comparable with Vanilla.
    + quite simple to implement and o not affect postgres code
    - do not solve startup problem (when cache is empty)
2. Pref

[2022-08-22 11:49] knizhnik commented on #2221
Last written LSN cache and fast index for layer map (#2310 - using R-Tree) are IMOHO must have features.
May be not exactly this implementation which I proposed (for example I am not sure that using rstar implementation of R-Tree which several hacks to make it correctly work with 128-bit integers is the best solution), but something like this we definitely need to have.

[2022-08-22 11:52] knizhnik commented on #2221
How and where this results were produced?
19%  in tracing seems to be something abnormal.
Is it prometheus metrics or just logging?

But m measurements also show that we spent a lot o time in copying memory between system and user space as well as within user space plus memory allocation is lso quite expensive.

[2022-08-22 12:31] hlinnaka commented on #2221
For comparison, here's the flamegraph we're collecting as part of the 'benchmarks' run, from get_page_at_lsn() requests. This is a wallclock-time flamegraph, so it includes all the time spent from the moment a get_page_at_lsn() request is received from the client until the response has been sent, including all "non-CPU" time spent waiting on the WAL-redo process and time spent waiting on locks.

!

[2022-08-22 12:32] hlinnaka commented on #2221
@bayandin, ideas on how we could make that more prominent? Can we add it to the allure report somehow?

[2022-08-22 12:43] knizhnik commented on #2221
Sorry, but how 19% of of 36% can be the same as 1.4%?

[2022-08-22 12:45] bayandin commented on #2221
Sure!
I haven't added Allure reports to performance tests yet. Will do work on it this week and will make sure flamegraphs are attached

[2022-08-22 15:26] hlinnaka commented on #1902
What does this mean? Can we close this?

[2022-08-22 21:37] KlimentSerafimov commented on #2222
Any follow up on this?

[2022-08-23 12:18] hlinnaka opened #2321 "Connecting with Google Data Suite"
## Steps to reproduce

1. go to https://datastudio.google.com
2. Click "Data sources"
3. Click "+ Create" -> "Data source"
4. Choose "PostgreSQL" (by google)
5. Fill in Host, username and password
6. Click Connect

## Expected result

Successful connection to the database

## Actual result

![image](https://user-images.githubusercontent.com/191602/186156045-39d352ed-9fbb-43cd-b477-49cff9b099b8.png

[2022-08-23 12:20] hlinnaka commented on #2321
Unfortunately, Data Studio gives that same error message whenever the connection fails, regardless of the reason. You get the same error for invalid hostname, invalid password, conncetion refused, etc.

[2022-08-23 12:34] LizardWizzard commented on #1708
The above issue regarding restarts and resulting small layers was resolved

[2022-08-23 12:34] #1708 closed

[2022-08-23 12:37] LizardWizzard commented on #1320
With recent talks it looks like we need the OR behavior suggested by @knizhnik because otherwise amount of history we keep can be unpredictable and burn a lot of money on s3. I e with 10GB database size and 7 days history it can occupy more than 10 terabytes

[2022-08-23 12:42] hlinnaka commented on #2321
At first I though this would be the common SNI problem, but Data Studio uses JDBC, and the JDBC driver does support SNI. I confirmed by connecting to another VM with wireshark, that Data Studio does indeed send the SNI information in the TLS handshake.

I was able to make it work with this combination:
- used IP address instead of the hostname
- used the so-called "password hack", ie. [Option D in

[2022-08-23 15:01] kelvich commented on #2321
Just to keep things in one place: our TLS certificates are signed by let's encrypt, so they are verifiable against this root CA `https://letsencrypt.org/certs/isrgrootx1.pem` or against system CA storage (`/etc/ssl/cert.pem` on macOS)

[2022-08-23 15:56] kelvich commented on #2221
Meeting notes:
* use captest env for tests -- @kelvich to provide an instructions
* commit lsn cache patch -- wais for tests fox -- @knizhnik
* polish prefetch patch -- waits for a review -- @lubennikovaav
* try to load few gb of pgbench init WAL in the pageserver and compare numbers -- @kelvich
* play with image layer materialization frequency -- @bojanserafimov

test:
[code]

[2022-08-26 11:40] Daniel-ef opened #2340 "Storage errors while starting compute nodes in Docker"
## Steps to reproduce
Run stress tests in cloud repo: `make test-e2e RUNTEST_ARGS='stress_tests -x'`

## Expected result
OK

## Actual result
FAILED

## Environment

## Logs, links

Compute logs:
[code]

Pageserver:
A lot of errors like
[code]

Safekeeper1:
[code]

[2022-08-26 11:51] ololobus commented on #2340
Got these by running only a `stress_tests/test_transitions.py::test_transitions` too

[2022-08-26 12:03] ololobus commented on #2340
Mentioned in the issue PS errors look weird, but not sure it's 100% relevant.

This one looks as a real reason:
[code]

I pulled all the fresh images twice, but it still says `FATAL:  could not access file "neon": No such file or directory`
cc @MMeent could be related to your recent changes too

[2022-08-26 12:11] ololobus commented on #2340
I have these one:
[code]

[2022-08-26 19:58] MMeent opened #2345 "Docker image size of the compute node is very large"
## Steps to reproduce
Check size of docker image neondatabase/compute-node:latest

## Expected result
A value much less than 500 MB

## Actual result
500+ MB

## Environment
Any

[2022-08-28 11:30] hlinnaka opened #2350 "Support channel binding"
We're missing support for channel binding in the proxy:

[code]
Channel binding would make client connections more secure, by preventing MITM attacks. Using `sslmode=verify-full` provides the same level of security, but it's more cumbersome to set up as you need to install the SSL certificate in the client.

[2022-08-29 09:34] MMeent opened #2354 "Postgis, PLV8 are not marked as trusted extensions"
## Steps to reproduce
Try to install PostGIS or PLV8 as a non-superuser

## Expected result
Success

## Actual result
`ERROR: permission denied to create extension "plv8" (SQLSTATE 42501)`

## Environment
staging

[2022-08-29 11:24] stepashka commented on #2269
@seymourisdead , @ololobus , i've just ran `SELECT version(); ` on staging and got
```PostgreSQL 14.5 on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit```
the Dashboard for the same project shows 14.4

we've planned to get rid of hardcode as part of https://github.com/neondatabase/cloud/issues/2082
shall we start on that already or simply update the hardcoded versio

[2022-08-29 11:44] #2354 closed, assigned to MMeent

[2022-08-29 21:10] kelvich opened #2361 "`plv8` extension creation crashes postgres sometimes"
I've managed to do this two times. The rough algorithm is following:

1. Create a new staging project
2. Run `create extension postgis;`
3. Run `create extension plv8;`

With some probability step 3 will result in a crash.

My try 1, late-surf-318322:

https://observer.zenith.tech/d/IJSLHBOnk/neon-logs-compute-nodes?orgId=1&var-environment=staging&var-region=virginia&var-project=compute-node-late-

[2022-08-30 13:25] hlinnaka commented on #2221
I played around with this a bit today. Some observations:

### pgbench roundtrips

`pgbench -i` uses COPY to initialize `pgbench_accounts`, which is the largest table. However, it uses single-row INSERT statements for all the smaller tables. With scale 100, the smaller tables contain 1100 rows in total.

If you run pgbench on your laptop, against a server in the cloud, that means 1100 roundtrips.

[2022-08-30 13:34] knizhnik commented on #2221
Sorry, may be I missed something.
Yes, pgbench is issuing separate inserts for population of small tables.
But all of them are performed in one transaction, aren't them?
If so, why we need separate roundtrip for each insert?
Insert just add record to WAL, WAL should be spent by 128kb chunks to safekeepers and then to pageserver. It should e almost the same as `insert into ... select (generate_time

[2022-08-30 14:55] LizardWizzard commented on #2221
@hlinnaka

[reduce-pgbench-init-roundtrips.patch.txt](https://github.com/neondatabase/neon/files/9453182/reduce-pgbench-init-roundtrips.patch.txt)
to fix that issue.

Looks like this patch turns `initGenerateDataClientSide` into `initGenerateDataServerSide`. Am I correct? If so it can be enabled without the patch by passing `--init-steps dtGvp` to pgbench directly. Capital G stands for server side

[2022-08-30 15:16] kelvich commented on #2361
Locally? Is there a backtrace?

[2022-08-31 11:45] knizhnik commented on #2221
Sorry,  it was stupid comment from my side.
Certainly generation of data at server side is the fastest solution.
But it works mostly for synthetic data (like in pgbench).
It is not applicable for real data, coming from different data sources. In some cases COPY will help. But if application logic requires to issue separate SQl command for each row, then we have the same problem as with pgbench but

[2022-08-31 13:27] knizhnik commented on #2221
It will be nice to try it with prefetch:
https://github.com/neondatabase/neon/pull/2369
Locally at my laptop I do not see any noticeable effect of prefetch on `pgbench -i` time.
It is a little bit strange that in in my case time of autovacuum is about two times larger than time of building index and in your case ratio is opposite.

[2022-08-31 14:10] knizhnik commented on #2221
Please notice that with default parameters (wal_log_hints=on) and last written lsn cache, prefetch is almost useless because frequent advances of `last_written_lsn` cause deterioration of prefetched pages (tehr LSN is smaller than requested).

With `wal_log_hits=off` results of `pgbench -i -s 100` at my laptop are the following:

| prefetch | pgbench -i -s 100  |
| ----------- | ------------------

[2022-09-01 00:08] kelvich commented on #2221
Right now the easiest thing would be to commit it in the main Postgres branch disabled by default (e.g. by the GUC variable). The console can then put extra settings to enable it.

[2022-09-01 04:36] knizhnik commented on #2221
This patch already contains GUC `enable_seqscan_prefetch`. I can make it disabled by default.

There seems to be some race condition problem with prefetch. Regression and isolation tests sometimes failed with (very rarely locally, more frequently in CI). I am investigating it now.

[2022-09-01 05:41] knizhnik commented on #2221
Really strange behavior: timeouts isolation tests periodically failed with the following error:
[code]
I have added special check to pagestore_smgr: now each prefetched patch is also loaded from page server (in separate connection) and  them are compared. And them are always equal! So it seems to be not the problem of prefetch itself, but some kind of race condition problem caused by different tim

[2022-09-01 11:28] hlinnaka commented on #2361
Did this really get fixed by PR #2366? I think Github intepreted "this may or may not fix #2361" as just "fix #2361", and closed this issue automatically :-).

[2022-09-01 13:59] yeputons opened #2378 "`make` always recompiles the Neon extension"
## Steps to reproduce
1. Build neon
2. Run `make neon-pg-ext`

## Expected result
There are no `gcc` commands in the input as no files has been changed.

## Actual result
[code]

## Thoughts
Running `make -d` provides a reason: the `neon-pg-ext` depends on `postgres` which depends on `postgres-headers` which always does `make install` in the postgres repository. And that _always_ overwrites header

[2022-09-01 14:21] knizhnik commented on #2221
I resolved problem with prefetch. So now I can try to merge into mai prefetch implementation with enable_seqscan_prefetch disable by default.

[2022-09-02 06:15] usrtax opened #2379 "web page "Or you can add it to the .pgpass:" double the '.pgpass'"
should use '> ~/.pgpass' , not '>> ~/.pgpass'

<img width="870" alt="image" src="https://user-images.githubusercontent.com/110233389/188070599-68386176-75ca-40c3-ab7a-206ae74fd4ac.png">

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/110233389/188070835-4ace5c0c-c70a-4f7c-8b67-96a6f6e12f3e.png">

[2022-09-02 07:21] knizhnik commented on #2221
Last written LSN cache (#1949) and local prefetch (#2369) passed tests.
So them are waiting for review.
We can merge in main prefetch PR with enable_seqscan_prefetch disable by default, so we can messure effect on prefetch in our benchmarks.

[2022-09-02 10:09] knizhnik commented on #2221
I have added function for measuring backpressure throttling time (#2380) and using it measure impact of backpressure on different stages of `pgbench -i -s 1000`:

[code]

Inserting: 265 sec
Create index: 114 sec

This is why creation of indexes is slower than vacuum.

[2022-09-05 14:31] arssher opened #2394 "Epic: replace etcd with custom grpc based broker"
## Motivation

Custom broker would be much more scalable: https://neondb.slack.com/archives/C036U0GRMRB/p1661011605069469

## DoD

etcd is replaced, all current tests pass.

## Implementation ideas

## Tasks
- [x] [publish the RFC](https://github.com/neondatabase/neon/pull/2466)
- [x] Add routing to the prototype https://github.com/arssher/tonic-bench
- [x] Replace s3 offloader election in safekee

[2022-09-05 15:16] stepashka commented on #2221
next steps:
- run with the prefetch patch and see the results, we could commit this 'with a feature flag' (GUC variable)
- run again not just the initialisation phase, but also going into further steps

there's a chance that perf testing branches/prs will be possible soon, but not this week

[2022-09-05 15:29] knizhnik commented on #2221
Please notice that I have yet another version of prefetch which tries to reduce number of  cases when compute is waiting for pageserver. Current implementation prefetch N (default value is 8) pages and until them are retrieved no more prefetch requests are sent. So even in ideal case (when prefetch hit ration is 100%) each N-th request requires waiting response from pageserver.

Advanced version o

[2022-09-05 15:32] stepashka commented on #2028
we've done everything that we wanted for now, most of the issues should be gone, the remaining we're leaving for later (backlog)

[2022-09-05 15:38] ololobus commented on #2028
Just set max_replication_write_lag to 15 MB on prod. My new and old computes started well

[2022-09-06 21:24] hlinnaka opened #2400 ""Could not remove old wal-redo-datadir: Directory not empty""
Got a test failure in the CI:
https://github.com/neondatabase/neon/runs/8213964163?check_suite_focus=true
[code]
This was on a PR with significant changes to the pageserver code, although nothing related to the WAL redo process so I believe this is a pre-existing issue.

The test kills the pageserver abruptly, and then restarts it. My theory is that the when the pageserver process dies, WAL redo p

[2022-09-08 09:01] MMeent opened #2411 "Race condition in ginHeapTupleFastInsert"
## Steps to reproduce

Have two concurrent gin fast insertions call ginHeapTupleFastInsert at the same time.

## Expected result
no panic

## Actual result
Panic

## Environment

## Logs, links

In ginfast.c at line 296 we `ReadBuffer(metadata->tail)` without an exclusive lock on metadata. This means that this pointed-to block can change before we lock the metadata at line 305, which could trigger

[2022-09-08 10:57] #2411 closed, assigned to nobody

[2022-09-08 15:56] hlinnaka opened #2415 "New clippy warnings with Rust 1.63"
I accidentally ran "cargo clippy" with a more recent rust version today, and got a bunch of new errors. See

https://github.com/neondatabase/neon/runs/8249512909

[code]

[2022-09-09 02:16] yeputons commented on #2378
Note that this issue seems to shadow our underlying build system issues: e.g. `make neon-pg-ext-v15` does always recompile the whole extension, but `make --dry-run --assume-new=pgxn/neon/neon.c neon-pg-ext-v15` does not. As if `make` does not know that binaries depend on source files.

[2022-09-09 13:36] yeputons commented on #1946
We should now have much better docs about this issue at https://neon.tech/sni , I believe it covers all the necessary details

[2022-09-09 13:36] #1946 closed

[2022-09-09 14:35] ololobus opened #2419 "Add logging with timeline_id that operation failed in some pageserver http handler"
There was a project on staging from September 7 created by periodic load https://console.stage.neon.tech/admin/operations?project_id=rough-queen-354759

Operation `create_timeline` failed on first attempt with error `pageserver responded with status 500`, but there were not any related errors in the pageserver log for this timeline during this interval https://observer.zenith.tech/d/8jHyEQOnz/zeni

[2022-09-09 14:37] LizardWizzard opened #2420 "Error around deployment: initdb failed: 'initdb: error: The program "postgres" is needed by initdb but was not found in the"
## Steps to reproduce

Call timeline create around restart

## Expected result

Timeline created

## Actual result

Error:

[code]

## Environment

Staging

## Logs, links

I think it could be related to how we deploy binaries, binaries could be replaced non atomically, so it is possible for timeline create request to arrive when old binary was removed, but new one not yet created (assigning infra

[2022-09-09 14:38] hlinnaka opened #2421 "`seqwait.rs` unit test doesn't check return value"
The unit test in `seqwait.rs` wont fail if there are errors inside async tasks, because we do not keep join handle -> dont check task return value

I think it can be fixed by something like that:

[code]

_Originally posted by @LizardWizzard in https://github.com/neondatabase/neon/pull/2376#discussion_r964916825_

[2022-09-09 17:53] hlinnaka commented on #1873
There's semi-recent discussion on this on pgsql-hackers here: https://www.postgresql.org/message-id/flat/2415283.1641852217%40sss.pgh.pa.us. The conclusion seems to be that we could switch to use the normal `install`, effectively reverting commit https://github.com/neondatabase/postgres/commit/a7032690f96efde6e05f166c21c583b02bf71bd2 as you suggested. I can write a patch to do that and send it to

[2022-09-09 19:21] hlinnaka commented on #1873
Weird, my `/usr/bin/install -C` works fine with 644 and 755. Did you notice the Makefile does `chmod` on all the files after installing/copying them? That needs to be removed if we switch to $(INSTALL).

[2022-09-09 22:21] hlinnaka commented on #2271
https://github.com/neondatabase/neon/pull/2328 fixed this, closing.

[2022-09-09 22:21] #2271 closed

[2022-09-09 22:29] hlinnaka opened #2422 "Move pageserver test commands from libpq to mgmt API"
The pageserver libpq API is a bit awkward to work with. Let's move the `do_gc`, `compact`, `checkpoint` and `failpoint` commands into the HTTP mgmt API instead.

I believe those commands are only used by the python tests, so there are no particular backwards-compatibility concerns in moving them.

[2022-09-12 13:11] hlinnaka commented on #2422
See `page_service.rs` for where the commands now, and `http/routes.rs` where they should go.

[2022-09-12 15:15] hlinnaka commented on #2305
Fixed by https://github.com/neondatabase/neon/pull/2310, closing

[2022-09-12 15:15] #2305 closed

[2022-09-12 15:18] stepashka opened #2427 "Epic: GC deleted timelines & tenants in S3"
## Motivation

Currently we do not delete data from s3 when we delete projects

## DoD

Nothing is left in s3 for a deleted project for both safekeepers and pageservers

There shouldnt be lost tenants/timelines that were attempted to be deleted but due to delete failure some part of the data still left in s3. Service restart during delete may lead to such situations

## Implementation ideas

Delet

[2022-09-12 15:31] hlinnaka commented on #1858
opened https://github.com/neondatabase/neon/issues/2422 to move these to the HTTP API.

[2022-09-12 15:55] stepashka commented on #2361
are you working on this, @SergeyMelnikov ?

[2022-09-13 01:33] bojanserafimov commented on #1873
It's cursed for sure. See:
[code]

 But works with 755 instead of 644. If you're sure it works on yours, I'll find a local workaround and move on :)

 Version:
[code]

[2022-09-13 06:40] knizhnik commented on #2257
I wonder which backpressure setting you are using?
If it is default `max_replication_write_lag=500MB`, then such wait timeout errors are expected (or at least known) behavior.

[2022-09-13 08:08] hlinnaka commented on #1873
A-ha, so the Modify time (mtime) is unchanged, but the Change time (ctime) changes. My "install" does the same. I believe "cargo build" pays attention to mtime not ctime (see https://doc.rust-lang.org/cargo/reference/build-scripts.html#cargorerun-if-changedpath), so that's OK.

(To be honest, I didn't realize filesystems track mtime and ctime are separately. Live and learn...)

[2022-09-13 09:44] stepashka opened #2431 "forward application_name to the console"
application_name field can yeild the insights into how neon is used now
it doesn't look like this field has sensitive data, so we can log this and also report to segment

- add forwarding of the application name from proxy to the console
- ensure that the console logs and reports this to segment along with the project id, branch id and the rest of the context

[2022-09-13 12:36] petuhovskiy commented on #2204
#2329 changes timeline handling (restore/create/delete lifecycle) and fixes wal_seg_size late initialization, but leaves most of the other things untouched.

The next step after merging that PR can be migration to async tasks in safekeeper, and better management for timeline-related tasks.

[2022-09-13 12:58] petuhovskiy opened #2432 "Replacing all safekeepers may delete WAL without backups"
## Steps to reproduce

1) Write at least one full WAL segment of data
2) Replace all safekeepers one by one, e.g. (sk1, sk2, sk3) -> (sk4, sk5, sk6)
3) Write more data, another full WAL segment

## Expected result

All safekeepers work without issues, all segments except the last one are fully backed up (uploaded to S3)

## Actual result

Safekeepers don't have first half of the WAL in a segment,

[2022-09-13 14:54] bojanserafimov commented on #1873
Yes. But cargo build is not the only thing that imposes dependencies. The ffi crate is free to trigger rebuilds on any condition, and my guess is that it uses ctime. Another example, our binaries rebuild every time `.git/index` changes, to update `--version` behavior.

[2022-09-14 08:12] hlinnaka opened #2442 "timeline_delete failed in CI"
https://github.com/neondatabase/neon/actions/runs/3050749282/jobs/4918341001
[code]

[2022-09-14 10:11] LizardWizzard opened #2444 "rename S3 prefix on staging-ps2 to ps-staging-v2"

[2022-09-14 10:37] LizardWizzard commented on #2444
@zoete just to be sure, do we specify single prefix for pageserveers in new regions? To avoid repeating this on other regions...

[2022-09-14 10:48] ololobus commented on #2444
No, I periodically think about some maintenance mode for projects, but didn't think about storage nodes. We have `active` flag, setting it to `false` will prevent scheduling new tenants to it, but old one still can start. We can add another one, like `maintenance`, but what should we do with already running computes?

[2022-09-14 14:53] LizardWizzard commented on #2444
It will also work. We can set flag in projects based on pageserver they're connected to

Any other options other than shutting them down?

[2022-09-14 18:00] hlinnaka commented on #2442
The "wait for all timeline tasks to finish" logic is a bit broken with GC and compaction. We have this:
[code]
That's supposed to kill and wait for all tasks operating on the timeline. However, GC and compaction tasks are only associated with the tenant, not a particular timeline, so the above code won't shut them down.

[2022-09-14 18:37] LizardWizzard commented on #2442
Its expected behavior. `cannot lock compaction critical section try_lock failed because the operation would block` Delete waits for gc and compaction to go to sleep by trying to lock a mutex. It does so to avoid corrupting their state by deleting files when it is not expected to happen. If gc or compaction are currently running it will return an error so request supposed to be retried. This is not

[2022-09-15 11:10] yeputons commented on #1873
#2430 did not fix it completely for me as well :(

Ubuntu 20.04 on WSL.

[code]

[2022-09-15 12:10] yeputons commented on #1873
Seems like `install -C` on my system does not work when the origin is a symlink (like it's the case with `pg_config_os.h` in `pg_install/build/v15/src/include`):

[code]

Actually, I've just built `ginstall` from `coreutils-9.1` and it works in exactly the same way. The `-C` flag only works with regular files, see https://github.com/coreutils/coreutils/blob/728f3baa50f89d7ee786faf3e28a25807b836c29

[2022-09-15 12:31] hlinnaka commented on #1873
Yes:
[code]

Hmm, I wonder why it does that twice..

Yes:
[code]

Yes:
[code]

So https://github.com/neondatabase/neon/pull/2430 didn't really help then :-(. Indeed I see now that if you do `make -s postgres-v15-headers; cargo build --bins`, it still recompiles `postgres_ffi` and the other crates every time:
[code]

[2022-09-15 14:59] hlinnaka opened #2456 "Include layer file sizes in `index_part.json`"
Once we implement on-demand download of layer files, the "physical size" of a project that we report will no longer include remote layers that are not present in the pageserver. But the console would need to get the total size of the project on S3.

Include the size of each layer file in the `index.json` file, so that we know the size of remote layers in the pageserver. Must be careful to make the

[2022-09-15 15:03] yeputons commented on #1873
I still think it was a step in the right direction. Maybe using a custom `install` executable would help.

[2022-09-15 17:13] SomeoneToIgnore commented on #2456
If I understood the proposal right, we're adding a new file? Could name it `timeline.json`, for better clarity.
Might also extend the name with version number, or similar metadata.

We can consider adding two more things into the updated json file:
* versioning info, that's currently missing (metadata is embedded inside as bytes, so that version has to be taken into account or the approach reworke

[2022-09-16 15:03] klink commented on #1617
@stepashka I think this is done. Should we close it or are there other changes in mind for our github?

[2022-09-16 17:53] LizardWizzard opened #2470 "Cannot attach tenant: there's already an entry in the tenant state"
## Steps to reproduce

Reproduced during https://github.com/neondatabase/neon/issues/2444

Basically it happens when pageserver is launched and there is some difference with the remote storage so initial upload/download tasks are scheduled

## Expected result

No errors. Sync is completed and then timeline is registered

## Actual result

An error, tenant is registered before sync is completed (at

[2022-09-19 14:54] stepashka opened #2476 "Epic: layer eviction"
## Motivation

## DoD

[code]

LOWER PRIORITY
Figure out how to do tenant size computation without downloading remote layers (logical more tricky than physical, we don't have the metadata in index_part.json).
If we don't do this, currnent logical size on-demand download will redownload layers, defeating the point of layer file eviction to S3.

## Other related tasks and Epics
-

[2022-09-19 15:11] stepashka commented on #2221
the next steps:
- merge the PR from Konstantin that addresses the old project performance
- run more tests!

[2022-09-19 15:59] stepashka commented on #2361
we'll increase the amount of memory, deploy on staging and check if this still fails

[2022-09-19 20:51] hlinnaka commented on #2456
I was thinking of just adding new fields to the the old file.

Sure, we could rename it. Just have to deal with backwards-compatibility.

+1

[2022-09-20 06:58] hlinnaka commented on #1287
I tested this on staging with this little test program (from https://community.neon.tech/t/error-connecting-edgedb-intervalstyle-parameter-ignored/107/6):

[code]
It prints:
[code]
But against a local postgres installation, it prints:
[code]
The latter is expected. It seems to me that the IntervalStyle option is still not passed through.

[2022-09-20 07:33] knizhnik opened #2485 "Neon failed to restart after disk space exhaustion"
## Steps to reproduce

Upload data to Neon until disk space is exhausted (tmpfs can be used for it)
Then free some space and try to restart server.

## Expected result

Server is normally restarted

## Actual result

2022-09-19 18:27:34.527 GMT [143496] LOG: [ZENITH] found 'zenith.signal' file. setting prev LSN to 0/0
2022-09-19 18:27:34.527 GMT [143496] LOG: database system was shut down at 2022-

[2022-09-20 07:40] knizhnik commented on #2485
Prev LSN tracking is very tricky inconvenient and error prone.
See discussion here:
https://app.slack.com/client/T026T3BRN0P/C033RQ5SPDH/thread/C033RQ5SPDH-1657308972.924859?cdn_fallback=1
If we just use `ControlFile->checkPointCopy.redo - 8` as prev LSN and do not set `zenithWriteOk = false`,
then server is normally started

[2022-09-20 11:36] funbringer commented on #1287
Huh... I guess it's time to bite the bullet and lift the limitations imposed by tokio-postgres.

[2022-09-20 18:28] #2422 closed

[2022-09-21 18:42] #2431 closed

[2022-09-22 09:51] hlinnaka opened #2493 "Track last-written LSN in a more fine-grained fashion, for bulk updates"
One lesson we've learned from the prefetching work is that the prefetching is not effective for VACUUM, when wal_log_hints=on. We have it turned off in captest and prodcution, so that's fine. However, for the same reason, I believe the prefetching is ineffective for bulk UPDATEs and DELETEs. And VACUUM if it had some real work to do.The reason is that when you're doing a bulk update, where you sca

[2022-09-22 10:44] yeputons opened #2495 "`test_tenant_relocation[without_load-major]` is flaky"
See https://github.com/neondatabase/neon/actions/runs/3104520077/jobs/5029248610

Moreover, I'm unable to understand what's the actual test error is. I've only found the following part in GitHub logs and it does not have any warnings or errors in it:

[code]

[2022-09-22 10:58] yeputons commented on #2495
Hmm, very weird errors [from compute logs (`tmp_pg.log` in the "Tear down" section on the right)](https://neon-github-public-dev.s3.amazonaws.com/reports/pr-2455/release/3104520077/index.html#categories/ce0a2c88d0626076578e73f072f5fb2f/2ae39bbf3223969a/):

[code]

Looks like the only place which mentions `tmp_pg.log` is the `export_import_between_pageservers.py` script. Is there some kind of race

[2022-09-22 11:44] yeputons commented on #2495
@bojanserafimov Do you have any idea on what may be going on? Choosing a random port instead of `55439` may help, but I'm not sure whether port collision happens inside the test run between different Postgres instances, or between distinct tests runs altogether.

[2022-09-22 12:30] LizardWizzard commented on #2444
After discussions with Stas we came up with these two options for migration process with decreased downtime period.

#### Double sync approach.

1. Without shutting down pageserver, `aws s3 sync <old prefix> <new prefix>`
2. Shut down pageserver
3. Repeat sync
4. Restart pageserver with prefix switched to <new prefix>

Short downtime for final sync. Diff should be small. Has benefit of not deviati

[2022-09-22 14:07] #1858 closed

[2022-09-23 17:22] sharnoff opened #2512 "`test_delete_force[True]` may be flaky"
Occurred in CI for #2503, which (a) shouldn't have affected this and (b) didn't fail after rebasing on top of (AFAICT) unrelated changes to `main`

[code]

[2022-09-24 18:35] bojanserafimov commented on #2495
Or maybe port collisions between tmp_pg from the script and any other service from the test. The right solution is to delete half of the script, the part responsible for reconstructing empty relations. It was only needed as a workaround for the old storage format, but we don't have any data in that format anymore. The only reason I'd maybe keep the code is if we need to do something similar to run

[2022-09-26 18:13] DavidSpek commented on #1942
These are available, see https://github.com/neondatabase/neon/blob/main/docs/docker.md.

[2022-09-26 20:15] moltar commented on #1942
Nice one, thank you! :)

[2022-09-26 20:15] #1942 closed

[2022-09-27 08:48] #2421 closed

[2022-09-27 20:04] hlinnaka opened #2528 "Requested streaming from 0/286E000, which is before the start of the timeline 0/286E018"
Saw into this error in CI:

https://github.com/neondatabase/neon/actions/runs/3134904311/jobs/5090092139

I believe this is the same issue as was discussed here:

https://github.com/neondatabase/neon/pull/2143#issuecomment-1199969052

Opening a new issue to track that more explicitly.

[2022-09-28 16:05] SomeoneToIgnore opened #2531 "Pageserver Python tests should not fail if the server is built with no `testing` feature"
`testing` feature is disabled by default and some people use `make` and then run tests, which fails.

We could use pageserver's version string to determine which features are enabled and expect those tests to fail/skip them.

[2022-09-28 19:03] sharnoff commented on #2531
I think this is a good idea. Separately, I wonder if we should have `make` by default use `testing`, and something like `make release` to build without it - just so that the default path runs more of the tests.

[2022-09-29 17:43] dein-ding opened #2533 "Creating databases through api creates timestamp of '0001-01-01T00:00:00Z'"
## Steps to reproduce
1. Grab a beer and some popcorn because this is a funny one
2. Send a request to the api endpoint `POST https://console.neon.tech/api/v1/projects/<your_project_id>/databases`
with a body of `{
  "database": {
    "name": "test_db",
    "owner_id": <your_owner_id>
  }
}`
<details>
    <summary>Send directly with curl</summary>
    <pre>curl -X 'POST' \
  'https://console.neon.

[2022-10-01 08:42] hlinnaka opened #2536 "Make get_lsn_by_timestamp available in mgmt API"
The pageserver has an API call, 'get_lsn_by_timestamp', as part of the libpq API. For example when creating a branch, the user specifies a timestamp, but internally the branch is created at a particular LSN. The API call can be used to convert the convert the user-supplied timestamp into an LSN.

However, the console cannot easily call into the libpq API, which makes it inconvenient to use fro the

[2022-10-01 08:56] hlinnaka commented on #2485
IIRC, we support even graceful shutdown and restart of the compute node. You need to always fetch a new basebackup and re-initialize.

[2022-10-01 09:15] hlinnaka opened #2537 "Feature: reload a single tenant"
If we have a bug in the pageserver, and something goes wrong with one tenant, you can restart the whole pageserver and hope that it recovers. Or you can detach the tenant, which deletes all local state from the pageserver, and re-attach to re-download it from S3.

It would be nice to have an mgmt API call to reboot a single tenant, doing the same thing as pageserver restart does, but just for one

[2022-10-01 09:24] hlinnaka commented on #2345
Stripping the useless  .debug_pubnames and .debug_pubtypes sections from the rust binaries would help a little, see https://github.com/neondatabase/neon/pull/2514. That PR doesn't change the docker build, but we could add a similar step in there.

[code]

[2022-10-01 09:27] hlinnaka commented on #2167
Implemented by commit f78a542cbad53d3cb12b2655ec71abfb51ebc22a. cc @SomeoneToIgnore

[2022-10-01 09:27] #2167 closed

[2022-10-01 10:00] hlinnaka opened #2538 "Pageserver fails to load tenant, if there are some files in S3 that are not present locally."
From production:
[code]

[2022-10-01 10:04] hlinnaka opened #2539 "Gc failed, retrying: could not find data for key 010000000000000000000000000000000000"
Error seen on production (ps-3):

[code]

[2022-10-01 11:44] knizhnik commented on #2485
But I have expected that `neon_local pg start main` actually does it (restore compute node from backup), doesn't it?
Please notice that i my test Neon is launched locally at one server. So disk space exhaustion affect all: compute node, pageserver and safekeepers.

I just want to repeat the sequence of actions:
1. Data is inserted in database
2. Disk space exhausted
3. `neon_local stop`
4. Free so

[2022-10-01 12:43] danieltprice commented on #2379
It looks like https://github.com/neondatabase/cloud/pull/2056 was supposed to address this issue. I will look into it.

[2022-10-01 14:22] danieltprice commented on #2379
To just append rather than duplicate and append, this might be what we're looking for:
echo -e "<project_id>.cloud.stage.neon.tech:5432:main:<user>:<password>\n" >> ~/.pgpass

[2022-10-01 15:13] danieltprice commented on #2379
The following PRs were created to address this issue:
https://github.com/neondatabase/cloud/pull/2410
https://github.com/neondatabase/website/pull/207

[2022-10-01 15:45] #2379 closed

[2022-10-01 20:26] knizhnik commented on #2539
SlruDir entry is missed:
[code]

The only place where this key is inserted is `DatadirModification::init_empty`.
Unfortunately it is all I can say at this moment.
Continue investigations.

[2022-10-01 22:46] cicdteam opened #2541 "[pageserver] Timeline ABCDEF was not found for tenant XYZABC"
# Stuck project issue

## Environment

- Production
- project name `restless-glade-766727`
- pageserver `zenith-1-ps-2`
- safekeepers `zenith-1-sk-1`, `zenith-1-sk-2`, `zenith-1-sk-3`

## Logs, links

<details><summary>pageserver logs</summary>

[code]
</details>

<details><summary>safekeeper logs (zenith-1-sk-1)</summary>

[code]
</details>

<details><summary>compute-node logs</summary>

[code]
<

[2022-10-02 01:22] hlinnaka commented on #2541
Same bug as https://github.com/neondatabase/neon/issues/2538, I believe

[2022-10-02 18:50] #2541 closed

[2022-10-02 18:58] hlinnaka opened #2542 "Lots of CPU time spent in create_image_layers"
See discussion at https://github.com/neondatabase/neon/pull/2527#issuecomment-1263203377.

We poll all timelines, every second, and do some work to determine if compaction needs to happen. When there are a lot of tenants and timelines, that adds up, consuming a lot of CPU. In captest environment and production, those background jobs are consuming 100% of CPU. It doesn't seem to be slowing noticeab

[2022-10-02 19:03] hlinnaka commented on #2538
Actually, this is a duplicate of https://github.com/neondatabase/neon/issues/2470, closing.

[2022-10-02 19:03] #2538 closed

[2022-10-02 19:05] hlinnaka commented on #2542
Summary of @yeputons 's investigation on this:

Also, all timelines on the captest server (stress-ps-2) are 2-10 layers at most. Only one of them is 5000 layers. Removing it does not remove the CPU load, just as expected. (I've renamed the timeline directory for testing, then removed it back).So optimizing LayerMap would not help us at the moment. We have to optimize the compaction as a whole.

[2022-10-03 08:04] andresrsanchez commented on #2536
Hey @hlinnaka i think i can do this!

[2022-10-03 14:44] #2415 closed

[2022-10-03 15:01] knizhnik commented on #2539
Unfortunately there is not enough information to perform investigation. Looks like correspondent key value was missed about 27 of August. Since this time there were few compaction iterations. We have logs only since 24 of September.
And there are just few records concerning this tenant:
[code]

It is not clear why GC tries to look so far i the past, when previous GC iteration for this timeline tak

[2022-10-03 15:37] knizhnik commented on #2539
What makes me confused is that "could not find data for key" error is reported by `get_reconstruct_data` method.
But why gc() tries to reconstruct some value?

[2022-10-03 16:00] hlinnaka opened #2544 "Epic: Prefetching cleanup"
## Motivation

Since commit f44afbaf62efb2910cefb671457fe60ada9163d5, we have prefetching to speed up sequential scans. It seems to be working pretty well in the benchmarks on captest environment, reducing the pgbench -i time from about 20 mins to 10 mins.

The implementation needs some cleanup, however:

## Tasks

- [x] The new PrefetchBuffer calls done differently than existing PrefetchBuffer ca

[2022-10-03 17:35] SomeoneToIgnore commented on #2539
One theoretical reason could be remote storage restoration: we only update metadata on S3 when some layer gets uploaded, so `latest_gc_cutoff_lsn` in `metadata` could go quite late on local disk without any updates to reflect that on S3, then something removes local disk data and very early `latest_gc_cutoff_lsn` gets downloaded from S3 along with the layers.

[2022-10-03 18:35] petuhovskiy opened #2545 "Safekeepers panic and don't respond to HTTP"
## Steps to reproduce

Have a latest version of safekeepers running for some time.

## Expected result

Everything works without issues.

## Actual result

We have panics in the logs, starting from this line: https://github.com/neondatabase/neon/blob/main/safekeeper/src/wal_service.rs#L39
These panics say something about exceeding the thread limit of 4096 threads.

HTTP queries to safekeeper serve

[2022-10-04 05:40] knizhnik commented on #2539
`latest_gc_cutoff_lsn` just determines boundary of PITR (prohibiting requests with smaller LSN). Also it is used to check whether it is time to start new GC iterations. The rule is the following:
1. Choose new gc cutoff. It is calculated as `min(last_record_lsn - gc_horizon, find_lsn_for_timestamp(current_time - pitr_interval))`
2. Compare new gc cutoff with old gc cutoff: GC is performed only if

[2022-10-04 08:21] hlinnaka commented on #2545
Same issue we had in pageserver: https://github.com/neondatabase/neon/issues/1609. It's coming from the `sharded-slab`, which is used by `tracing-subscriber`.